@charset "UTF-8";

a {
	text-decoration: none;
	color: #333;
}
a:link,
a:visited {
	color: #333 !important;
}
#navi a:link,
#navi a:visited {
	color: #fff !important;
}
.sheet .operate a {
	float: left;
	margin-right: 20px;
}
.w130px {
	width: 130px;
}
a.text_link:hover {
	color: #F60 !important;
}
.list_checkbox label {
	margin-right: 10px;
	cursor: pointer;
}
.list_checkbox input[type=checkbox] {
	margin-right: 3px;
	width: 16px;
	height: 16px;
	background: url(../img/admin/icon/icon_check03.png) 0 0 no-repeat;
	cursor: pointer;
}
/*home page*/

.text-red {
	color: #ef7260;
}
.text-green {
	opacity: .8;
	color: #27ae60;
}
.icon-clock:before {
	content: "\E081";
}
#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
	-moz-column-fill: balance;
}
@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 15px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	border-left: 4px solid #fff;
	animation: 300ms appear 30ms ease-in-out forwards;
}
.pin a {
	cursor: pointer;
}
.pin img.contract_user {
	margin-bottom: 5px;
    float: left;
    padding-right: 10px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.pin img.contract_author {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	margin-right: 5px;
}
.pin .text-img {
	display: flex;
	align-items: center;
}
.pin .contract_info span {
	float: left;
	margin-right: 10px;
}
.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}
@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}
@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}
#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}
.contract_link {
	margin-top: 10px;
}
.contract_link a {
	background: rgba(0,126,255,.04);
	border-radius: 3px;
	border: 1px solid rgba(0,126,255,.24);
	color: #007eff;
	padding: 3px 10px;
	font-size: 13px;
	margin-bottom: 7px;
	margin-right: 7px;
}
.contract_link a:hover {
	text-decoration: none;
	background: rgba(0,126,255,.08);
}
.pin:hover {
	border-left: 4px solid #3498db;
}
.sheet .td_body td,
.sheet .td_body th {
	padding: 0px !important;
}
.sheet th{
	width: 150px !important;
}


#navi li.active a {
	border-left:2px solid #E9E9E9;
}
