@charset "utf-8";

/* ****************************************************************** 

	--admin.css--

	1. Style setting
		1-1. FontColor styles
		1-2. Headline styles
		1-3. Error styles
		1-4. Table styles
		1-5. Form styles
		1-6. Search styles
		1-7. Button styles
		1-8. Pager styles
		1-9. Icon styles
		1-10. Other styles
		
	2. Layout setting
		2-1. Base styles
		2-2. HeaderBar styles
		2-3. Header styles
		2-4. Breadcrumbs styles
		2-5. SideNavi styles
		2-6. Footer styles

	3. Login setting

****************************************************************** */

/*==================================================================
	1. Style setting
===================================================================*/

/* ------------------------------------------------------------------
	1-1. FontColor styles
-------------------------------------------------------------------*/
html { color:#333; }
a { color:#039; }
a:hover, a:active { color:#F90; }
body{min-width:320px;overflow:hidden;}
.pcStyle a:hover {
	color:#06C;
	text-decoration:none;
}
.pcDisplay {
	display:block;
}
.spDisplay {
	display:none;
}
@media screen and (max-width:736px) {
.pcDisplay {
	display:none;
}
.spDisplay {
	display:block;
}
}

/* ------------------------------------------------------------------
	1-2. Headline styles
-------------------------------------------------------------------*/
.headline {
	position:relative;
	background:#FFF;
	color:#000;
	font-size:14px;
	font-weight:600;
	padding:13px 8px;
	border-radius:5px 5px 0 0;
	border:1px solid #CCC;
}
.headline span {
	display:block;
	padding:0 0 0 8px;
	line-height:1.2;
}
.headline2 {
	margin-bottom:15px;
	padding:5px 10px;
	background:#777;
	color:#FFF;
}
.headline2 span {
	padding-left:8px;
	border-left:3px solid #FFF;
}
.headlineFix {
	border-radius:0;
}

/* ------------------------------------------------------------------
	1-3. Error styles
-------------------------------------------------------------------*/
.error {
	margin:15px 0 15px 0;
	padding:8px 0;
	background:#FFE0E6;
	border:1px solid #FF8282;
}
.error li {
	padding:0 0 0 15px;
	margin-bottom:5px;
	color:#F00;
	background-size:18px 18px;
}
.error li i {
	padding-right:5px;
	font-size:20px;
	display: inline-block;
	vertical-align: middle;
}
.error input,
.error textarea,
.error select { background-color:#FFD3C3; }


/* ------------------------------------------------------------------
	1-4. Table styles
-------------------------------------------------------------------*/

/* Sheet styles
-------------------------------------------------------------------*/
.sheet {
	width:100%;
	margin:0 auto;
	background:#FFF;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
}
.sheet th,
.sheet td {
	padding:10px;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
}
.sheet th {
	width:22.2%;
	font-style:normal;
	font-weight:bold;
	text-align:left;
	border-bottom:1px solid #CCC;
	background:#FFF;
}
.sheet th span {
	padding-left:5px;
}
.sheet thead th {
	padding:0;
	background:#E9E9E9;
}
.sheet thead span {
	display:block;
	padding:5px 10px;
	border-top:1px solid #EEE;
	text-align:center;
}
.sheet .status { text-align:center; }
.sheet .status span {
	display:inline-block;
	width:70px;
	padding:5px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	border-radius:15px;
}
.sheet td span {
	display:inline-block;
	padding-bottom:5px;
}
.sheet .status .public { background-color:#447ECC; }
.sheet .status .rough { background-color:#AAA; }
.sheet .status .check { background-color:#F90; }
.sheet .status .unsupported { background-color:#C00; }
.sheet .latestTime {
	padding:3px 0;
	color:#F00;
	font-size:12px;
}
.sheet .size01 {
	width:150px;
}
.sheet .date {
	width:70px;
	font-size:12px;
	text-align:center;
}
.sheet .operate a { margin:2px 0; color:#111; text-decoration:none; }
.sheet .operate a i {
	padding:5px 5px 5px 0;
	font-size:18px;
	color:#30363e;
}
.sheet .operate a:hover {
	text-decoration:underline;
}
.trGray { background:#F5F5F5; }
#map {
	width:100%;
	height:300px;
	margin-top:10px;
}

/* ------------------------------------------------------------------
	1-5. Form styles
-------------------------------------------------------------------*/
textarea,
select { 
	vertical-align:middle; 
	margin:0;
	height:35px;
	border:none;
	background:#FFF;
	border-radius:5px;
	border:1px solid #DDD;}
input[type=text],
input[type=password],
textarea {
	width:92%;
	height:35px;
	margin:0;
	padding:10px;
	border:none;
	background:#FFF;
	border-radius:5px;
	border:1px solid #DDD;
	box-sizing:border-box;
}
input[type=checkbox] { margin-right:3px; }
textarea { height:150px; }
input[type=text]:focus,
input[type=password]:focus,
textarea:focus { background:#FFF; }
form img,
form input,
form select { vertical-align:middle; }
tr.checkbox input,
tr.radio input { margin-right:3px; }
label { margin-right:8px; }
p.notice { margin:0 0 5px; }


/* ------------------------------------------------------------------
	1-6. Search styles
-------------------------------------------------------------------*/
.searchBox {
	padding:10px 26px 15px 26px;
	border-radius:0.4em;
	/*background:url(/img/admin/icon/search.gif) no-repeat 6px 50%;*/
}
.searchUtil {
	padding:10px 25px;
	background:#FFF;
}
.searchUtil dt, .searchUtil dd { display:inline; }
.searchUtil dt strong {
	margin-right:0.3em;
	color:#F60;
	font-size:150%;
	font-family:Helvetica, Arial, sans-serif;
}


/* ------------------------------------------------------------------
	1-7. Button styles
-------------------------------------------------------------------*/
.input[type=button] {
	background:#2567AB;
	height:35px;
	width:120px;
	cursor:pointer;
	border:none;
	color:#FFF;
	font-weight:bold;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	border:none;
	outline:none;
	-webkit-appearance:none;
	-moz-appearance::none;
	appearance:none;
	vertical-align:top;
}
.input[type=button]:hover {
	background:#4E89C5;
}
.button {
	/*display:block;*/
	position:relative;
	-webkit-transition:background-color 0.15s ease-in-out;
	-moz-transition:background-color 0.15s ease-in-out;
	-o-transition:background-color 0.15s ease-in-out;
	transition:background-color 0.15s ease-in-out;
	width:120px;
	height:30px;
	margin-bottom:20px;
	padding-bottom:1px;
	border-radius:15px;
	font-weight:bold;
	line-height:1;
	text-align:center;
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
.button.black {
	border:1px solid #222;
	background:#333;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #555), color-stop(1, #333));/* Safari 4-5, Chrome 1-9, Android 1.6-3.0 */
	background-image:-webkit-linear-gradient(top, #555, #333);/* Safari 5.1+, iOS Safari 5.1+, Chrome 10+ */
	background-image:-moz-linear-gradient(top, #555, #333);/* Firefox 3.6+ */
	background-image:-o-linear-gradient(top, #555, #333);/* Opera 11.10+ */
	background-image:-ms-linear-gradient(top, #555, #333);/* IE 10+ */
	color:#FFF;
	text-shadow:0 -1px 1px #000;
}
.button.black:hover { background:#555; }
.button.blue {
	border:1px solid #4E89C5;
	background:#2567AB;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #4E89C5), color-stop(1, #2567AB));
	background-image:-webkit-linear-gradient(top, #4E89C5, #2567AB); Safari 5.1+, iOS Safari 5.1+, Chrome 10+ 
	background-image:-moz-linear-gradient(top, #4E89C5, #2567AB);
	background-image:-o-linear-gradient(top, #4E89C5, #2567AB);
	background-image:-ms-linear-gradient(top, #4E89C5, #2567AB);
	color:#FFF;
	text-shadow:0 -1px 1px #000;
}
.button.blue2 {
	background:#2567AB;
	height:40px;
	width:150px;
	cursor:pointer;
	border:none;
	color:#FFF;
	font-weight:bold;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	border:none;
	outline:none;
	-webkit-appearance:none;
	-moz-appearance::none;
	appearance:none;
}
.button.blue:hover,
.button.blue2:hover,
.button.login:hover{ background:#4E89C5; }

.button.login {
	background:#2567AB;
	width:100%;
	height:60px;
	font-size:20px;
	cursor:pointer;
	border:none;
	color:#FFF;
	font-weight:bold;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	border:none;
	outline:none;
	-webkit-appearance:none;
	-moz-appearance::none;
	appearance:none;
	margin-top:20px;
}
.button.yellow {
	border:1px solid #F7C942;
	background:#FADB4E;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #FCEDA7), color-stop(1, #FADB4E));/* Safari 4-5, Chrome 1-9, Android 1.6-3.0 */
	background-image:-webkit-linear-gradient(top, #FCEDA7, #FADB4E);/* Safari 5.1+, iOS Safari 5.1+, Chrome 10+ */
	background-image:-moz-linear-gradient(top, #FCEDA7, #FADB4E);/* Firefox 3.6+ */
	background-image:-o-linear-gradient(top, #FCEDA7, #FADB4E);/* Opera 11.10+ */
	background-image:-ms-linear-gradient(top, #FCEDA7, #FADB4E);/* IE 10+ */
	color:#111;
	text-shadow:0 1px 1px #FFF;
}
.button.yellow:hover { background:#FCEDA7; }
.button.gray {
	border:1px solid #BBB;
	background:#F5F5F5;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #E6E6E6));/* Safari 4-5, Chrome 1-9, Android 1.6-3.0 */
	background-image:-webkit-linear-gradient(top, #FFF, #E6E6E6);/* Safari 5.1+, iOS Safari 5.1+, Chrome 10+ */
	background-image:-moz-linear-gradient(top, #FFF, #E6E6E6);/* Firefox 3.6+ */
	background-image:-o-linear-gradient(top, #FFF, #E6E6E6);/* Opera 11.10+ */
	background-image:-ms-linear-gradient(top, #FFF, #E6E6E6);/* IE 10+ */
	color:#111;
	text-shadow:0 1px 1px #FFF;
}
.button.gray2 {
	background:#F5F5F5;
	height:40px;
	width:150px;
	cursor:pointer;
	border:none;
	color:#111;
	font-weight:bold;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	border:none;
	outline:none;
	-webkit-appearance:none;
	-moz-appearance::none;
	appearance:none;
}
.button.gray:hover,
.button.gray2:hover { background:#FAFAFA; }


/* ------------------------------------------------------------------
	1-8. Pager styles
-------------------------------------------------------------------*/
.pager {
	margin:20px 0 30px;
	text-align:center;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	clear:both;
}
.pager li { display:inline; margin-left:5px; }
.pager li a {
	padding:5px 9px;
	border:1px solid #DDD;
	text-decoration:none;
	color:#111;
	background:#FFF;
	border-radius:50%;
}
.pager li a.fixRadius {
	border-radius:25px;
}
.pager li a:hover {
	border:1px solid #777;
	background:#777;
	color:#FFF;
	transition:.3s;
}
.pager li strong {
	padding:5px 9px;
	background:#777;
	color:#FFF;
	border-radius:50%;
	font-weight:bold;
}


/* ------------------------------------------------------------------
	1-9. Icon styles
-------------------------------------------------------------------*/
.info{
	padding-left:18px;
	background:url(/img/admin/icon/info.png) no-repeat 0% 50%;
}
.help {
	padding-left:18px;
	background:url(/img/admin/icon/help.gif) no-repeat 0% 50%;
}
.notice {
	margin:10px 0;
	color:#C00;
}
.window {
	padding-left:18px;
	background:url(/img/admin/icon/window.gif) no-repeat 0% 50%;
}
.tel {
	padding-left:18px;
	background:url(/img/admin/icon/tel.gif) no-repeat 0% 50%;
}
.example {
	margin-top:5px;
}
.logout i {
	padding:5px 0 5px 10;
	font-size:22px;
	padding-right:5px;
	display:inline-block;
	vertical-align:middle;
}
.delete {
	padding:5px 0 5px 25px;
	background:url(/img/admin/icon/delete.png) no-repeat 0% 50%;
	background-size:18px 18px;
}
.preview {
	padding:5px 0 5px 25px;
	background:url(/img/admin/icon/preview.png) no-repeat 0% 50%;
	background-size:18px 18px;
}
.edit {
	padding:5px 0 5px 25px;
	background:url(/img/admin/icon/icon_check.png) no-repeat 0% 50%;
	background-size:18px 18px;
}
.duplicate {
	padding:5px 0 5px 25px;
	background:url(/img/admin/icon/duplicate.png) no-repeat 0% 50%;
	background-size:18px 18px;
}
.editList {
	padding:5px 0 5px 25px;
	background:url(/img/admin/icon/editList.png) no-repeat 0% 50%;
	background-size:18px 18px;
}
.checkWeb i {
	padding:5px 0 5px 25px;
	font-size:20px;
	padding-right:5px;
	display:inline-block;
	vertical-align:middle;
}
.schedule {
	padding-left:18px;
	background:url(/img/admin/icon/schedule.gif) no-repeat 0% 50%;
}
.users {
	padding:5px 0 5px 25px;
	background:url(/img/admin/icon/user.png) no-repeat 0% 50%;
	background-size:18px 18px;
}
.mail {
	padding-left:18px;
	background:url(/img/admin/icon/mail_icon.png) no-repeat 0% 50%;
}
.add{
	padding-left:18px;
	background:url(/img/admin/icon/add.png) no-repeat 0% 50%;
}
.couponadd {
	padding-left:18px;
	background:url(/img/admin/icon/coupon_add.png) no-repeat 0% 50%;
}
.shop {
	padding-left:18px;
	background:url(/img/admin/icon/shop.png) no-repeat 0% 50%;
}
.area {
	padding-left:18px;
	background:url(/img/admin/icon/area.png) no-repeat 0% 50%;
}
.area .pref {
	padding:0 5px;
	border:1px solid #F5E6C9;
	background:#FCF9F1;
}


/* ------------------------------------------------------------------
	1-10. Other styles
-------------------------------------------------------------------*/
.linkList { padding:10px 0 0 0; }
.linkList a {
	color:#111;
	text-decoration:none;
	padding:5px 0 5px 25px;
	background-size:18px 18px;
}
.linkList i {
	padding-right:5px;
	display:inline-block;
	color:#30363e;
	vertical-align:middle;
	font-size:20px;
}
.linkList a:hover {
	text-decoration:underline;
}
.message {
	background:#FFF;
	padding:10px 25px;
	line-height:24px;
	border-radius:0 0 5px 5px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.alert{
	padding:15px 10px;
	border:1px solid #FF8282;
	border-radius:4px;
	background-color:#FFE0E6;
	font-weight:bold;
	text-align:center;
}
#forsupport{
	margin-top:35px;
	padding:8px;
	background:#D9E8FF;
}


/*==================================================================
	2. Layout setting
===================================================================*/

/* ------------------------------------------------------------------
	2-1. Base styles
-------------------------------------------------------------------*/
html { background:#FFF; }
body { line-height:1.4; }
#noScript {
	width:938px;
	margin:30px auto;
	padding:20px;
	border:1px solid #FF8282;
	background:#FFE0E6;
	font-weight:bold;
	text-align:center;
}
#wrapper {
	width:100%;
	border:0;
}
#container {

}
#contents {
	position:relative;
	min-height:600px;
	/*background:#E9E9E9;*/
}
#main {
	position:relative;
	left:0px;
	margin-left:200px;
}
.section { padding:20px 20px 0 20px; }

/* ------------------------------------------------------------------
	2-2. HeaderBar styles
-------------------------------------------------------------------*/
#headerBar {
	width:100%;
	height:30px;
	background:#30363e;
	color:#DDD;
}
#headerBarInner {
	line-height:30px;
	width:980px;
	padding-left:20px;
}
#headerBarMenu {
	border-right:1px solid #555;
	border-left:1px solid #333;
}
#headerBarMenu a {
	display:block;
	padding:0 18px;
	border-right:1px solid #333;
	border-left:1px solid #555;
	color:#DDD;
	text-decoration:none;
}
#headerBarMenu a:hover { background:#555; }


/* ------------------------------------------------------------------
	2-3. Header styles
-------------------------------------------------------------------*/
#header {
	position:relative;
	min-height:47px;
	padding:10px;
	border:1px solid #DDD;
}
#header #logo {
	float:left;
	margin-top:10px;
}
#logo img {
	display:block;
	width:145px;
	height:25px;
}
#header hgroup {
	float:left;
	margin-top:10px;
	padding-left:1%;
}
#header h1 {
	float:left;
	margin-right:10px;
	padding:5px 10px;
	background:#FFECEC;
	color:#EF6D94;
}
#header h2 {
	float:left;
	padding:5px;
	
}
#header h2 span { color:#EF6D94; }
#headerMenu {
	display:inline;
	position:absolute;
	top:10px;
	right:15px;
	margin-top:10px;
}
#headerMenu li {
	display:inline;
	margin-left:0.5em;
}
#headerMenu li a {
	text-decoration:none;
	color:#333;
}
#headerMenu li a:hover {
	text-decoration:underline;
}
/* ------------------------------------------------------------------
	2-4. Breadcrumbs styles
-------------------------------------------------------------------*/
.breadcrumbs {
	position:relative;
	padding:15px 21px;
	margin-bottom:0;
	font-size:12px;
	border-radius:0;
	background-color:#fafafa;
}
.breadcrumbs li {display:inline-block; }
.breadcrumbs a:link,
.breadcrumbs a:visited {
	padding-right:10px;
	background:url(/img/common/icon_breadcrumbs.gif) no-repeat 100% 50%;
	color:#666;
	text-decoration:none;
}


/* ------------------------------------------------------------------
	2-5. SideNavi styles
-------------------------------------------------------------------*/
#side {
	color:#fff;
	font-size:13px;
	position:absolute;
	top:0;
	left:0;
	width:200px;
	min-height:100%;
	background-color:#30363e;
}
#navi li { display:block; }
#navi > li:nth-child(1n) {
	margin-bottom:10px;
}
#navi li a {
	display:block;
	background:#30363e url(/img/admin/icon/li.gif) no-repeat 20px 50%;
	color:#FFF;
	text-decoration:none;
	zoom:1;
	font-weight:500;
}
#navi li a:hover {
	color:#FFF;
	border-left:2px solid #E9E9E9;
	background:#282d33 url(/img/admin/icon/li.gif) no-repeat 18px 50%;
	padding-left:28px;
}
#navi li .parent {
	display:block;
	color:#70829a;
	zoom:1;
	line-height:35px;
	height:35px;
	padding-left:20px;
	font-size:14px;
	font-weight:bold;
}
#navi li a.parent { text-decoration:underline; }
#navi li > ul > li {
	padding-left:0;
}
#navi li > ul > li a {
	padding:0;
	line-height:35px;
	height:35px;
	overflow:hidden;
	padding-left:30px;
}
/* ------------------------------------------------------------------
	2-6. Footer styles
-------------------------------------------------------------------*/
#pageTop {
	clear:both;
	margin:10px 20px 10px 0;
	text-align:right;
}
#pageTop a {
	color:#333;
	font-size:11px;
}
#footer {
	margin-top:1px;
	padding:20px 0;
	background:#f8f8f8;
	text-align:center;
}
#footer,
#footer a { color:#4c4c4c; text-decoration:none; }



/*==================================================================
	3. Login setting
===================================================================*/
#loginWrapper {
	-webkit-box-shadow:0 4px 10px -1px rgba(200, 200, 200, 0.7);
	box-shadow:0 4px 10px -1px rgba(200, 200, 200, 0.7);
	max-width:500px;
	padding:25px 25px 30px;
	border:1px solid #E5E5E5;
	background:#FFF;
	behavior:url(/htc/PIE.php);
	border-top:5px solid #2567AB;
	margin:13% auto 5%;
	position:relative;
}
#loginWrapper h1 {
	width:145px;
	height:25px;
	margin:0 auto;
}
#loginWrapper .alert { margin:0 0 10px; }
#loginWrapper .loginInput {
	width:100%;
	margin:0;
	padding:15px;
	border:none;
	background:#FFF;
	margin-bottom:5px;
	border-radius:5px;
}
#loginWrapper form {
	padding:30px;
	background:#EAEAE8;
}
.boxText .textLink a {
	color:#2567AB;
	text-decoration:none;
}
.boxText .textLink a:hover {
	text-decoration:underline;
}
.boxInner {
	background:#FFF;
	border-radius:0 0 5px 5px;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
}
.imgOperate a {
	color:#111;
	text-decoration:none;
	margin-right:10px;
}
.imgOperate a i {
	padding:5px 5px 5px 0;
	font-size:18px;
	color:#30363e ;
}
.imgOperate a i {

}
.imgOperate a:hover {
	text-decoration:underline;
}
.checkbox input[type="checkbox"] {
	width:18px;
	height:18px;
	margin:0;
	padding:0;
	cursor:pointer;
	opacity:0;
	position:absolute;
}
.checkbox input[type="checkbox"] + label {
	display:inline-block;
	background:url(/img/admin/icon/icon_check03.png) 0 0 no-repeat;
	height:18px;
	padding:0 0 0 25px;
	color:#606060;
	cursor:pointer;
}
.checkbox input[type=checkbox]:checked + label {
	background:url(/img/admin/icon/icon_check04.png) 0 0 no-repeat;
}
.labelBlock {
	display: inline-block;
}
.warpButton {
	display: inline-block;
	vertical-align: top;
}
.menuBlock {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 9999;
	width: 100%;
	height: 100%;
}
.boxSubmit {
	width:100%;
	margin:0 auto;
	max-width:310px;
}
@media screen and (max-width:1200px) {
	.boxForm {
		overflow-x:scroll;
	}
	.searchBox02 {
		min-width:900px;
	}
}
@media screen and (max-width:950px) {
	.checkbox input[type="checkbox"] + label {
		font-size:12px;
	}
	#headerMenu {
		position:initial;
		top:0;
		margin-top:0;
		float:right;
	}
	#header hgroup {
		margin-top:10px;
		padding-left:0;
	}
	#header #logo {
		margin-top:0;
		float:none;
	}
	#header {
		min-height:65px;
	}
	#headerBarInner {
		width:auto;
		padding-left:10px;
	}
/* 	.leftBox {
	font-size:11px;
} */
	#headerBarMenu a {
		padding:0 9px;
	}
	#side {
		width:180px;
	}
	#main {
		margin-left:180px;
	}
	.labelBlock {
		display:block;
		padding-top:10px;
	}
}
@media screen and (max-width:800px) {
	#headerBarMenu a {
		padding:0 4px;
	}
	.searchBox02 {
		min-width:950px;
	}
}
@media screen and (max-width:736px) {
	#navi li > ul > li a {
		font-size:12px;
	}
	#main {
		margin-left:0;
	}
	#btnMenu {
		position: absolute;
		right: 10px;
		top: -40px;
	}
	.menu-trigger {
		display: inline-block;
		position:relative;
		z-index:99;
		width:25px;
		height:20px;
	}
	.menu-trigger::before, .menu-trigger::after {
		content: '';
	}
	.menu-trigger span, .menu-trigger::before, .menu-trigger::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #333;
	}
	.menu-trigger span {
		top:8px;
		overflow: hidden;
		text-indent: 50px;
	}
	.menu-trigger::before {
		top: 0px;
		-webkit-animation: menu-bar01 .75s forwards;
		animation: menu-bar01 .75s forwards;
	}
	.menu-trigger::after {
		bottom:0px;
	}
	.viewSP {
		display:block;
	}
	.menu-trigger span, .menu-trigger::before, .menu-trigger::after {
		display:inline-block;
	}
	.menu-trigger::before {
		-webkit-animation: menu-bar01 .75s forwards;
		animation: menu-bar01 .75s forwards;
	}
	@-webkit-keyframes menu-bar01 {
		0% { -webkit-transform: translateY(8px) rotate(45deg); }
		50% { -webkit-transform: translateY(8px) rotate(0); }
		100% { -webkit-transform: translateY(0) rotate(0); }
	}
	@keyframes menu-bar01 {
		0% { transform: translateY(8px) rotate(45deg); }
		50% { transform: translateY(8px) rotate(0); }
		100% { transform: translateY(0) rotate(0); }
	}
	.menu-trigger span {
		transition: all .25s .25s;
		opacity: 1;
	}
	.menu-trigger::after {
		-webkit-animation: menu-bar02 .75s forwards;
		animation: menu-bar02 .75s forwards;
	}
	@-webkit-keyframes menu-bar02 {
		0% { -webkit-transform: translateY(-8px) rotate(-45deg); }
		50% { -webkit-transform: translateY(-8px) rotate(0); }
		100% { -webkit-transform: translateY(0) rotate(0); }
	}
	@keyframes menu-bar02 {
		0% { transform: translateY(-8px) rotate(-45deg); }
		50% { transform: translateY(-8px) rotate(0); }
		100% { transform: translateY(0) rotate(0); }
	}
	.menu-trigger.active::before {
		-webkit-animation: active-menu-bar01 .75s forwards;
		animation: active-menu-bar01 .75s forwards;
	}
	@-webkit-keyframes active-menu-bar01 {
		0% { -webkit-transform: translateY(0) rotate(0); }
		50% { -webkit-transform: translateY(8px) rotate(0); }
		100% { -webkit-transform: translateY(8px) rotate(45deg); }
	}
	@keyframes active-menu-bar01 {
		0% { transform: translateY(0) rotate(0); }
		50% { transform: translateY(8px) rotate(0); }
		100% { transform: translateY(8px) rotate(45deg); }
	}
	.menu-trigger.active span {
		opacity: 0;
	}
	.menu-trigger.active::after {
		-webkit-animation: active-menu-bar03 .75s forwards;
		animation: active-menu-bar03 .75s forwards;
	}
	@-webkit-keyframes active-menu-bar01 {
		0% { -webkit-transform: translateY(0) rotate(0); }
		50% { -webkit-transform: translateY(8px) rotate(0); }
		100% { -webkit-transform: translateY(8px) rotate(45deg); }
	}
	@keyframes active-menu-bar01 {
		0% { transform: translateY(0) rotate(0); }
		50% { transform: translateY(8px) rotate(0); }
		100% { transform: translateY(8px) rotate(45deg); }
	}
	.menu-trigger.active span {
		opacity: 0;
	}
	.menu-trigger.active::after {
		-webkit-animation: active-menu-bar03 .75s forwards;
		animation: active-menu-bar03 .75s forwards;
	}
	@-webkit-keyframes active-menu-bar03 {
		0% { -webkit-transform: translateY(0) rotate(0); }
		50% { -webkit-transform: translateY(-8px) rotate(0); }
		100% { -webkit-transform: translateY(-8px) rotate(-45deg); }
	}
	@keyframes active-menu-bar03 {
		0% { transform: translateY(0) rotate(0); }
		50% { transform: translateY(-8px) rotate(0); }
		100% { transform: translateY(-8px) rotate(-45deg); }
	}
	#headerMenu {
		display:block;
		position:initial;
		margin-top:5px;
		float:none;
		text-align:right;
	}
	#side {
		width: 100%;
		position:relative;
		margin-top:50px;
	}
	#side ul.navi {
		display:none;
		position: absolute;
		overflow: hidden;
		z-index: 9999;
		width: 100%;
		padding:10px 0;
		background: #30363e;
	}
	#header {
		padding:0;
		border:none;
		border-bottom:1px solid #DDD;
		min-height:0;
		position:initial;
	}
	#navi > li:last-child {
		margin-bottom:0;
	}
	#headerMenu li a {
		font-size:12px;
		letter-spacing:-1px;
	}
	.checkWeb i {
		font-size:15px;
	}
	#header #logo {
		top:25px;
		float:none;
		position:absolute;
		margin-top:0;
		margin-left:10px;
	}
	.section {
		padding:10px 10px 0 10px;
	}
	.searchBox {
		padding:10px 15px 15px 15px;
	}
	.searchBox02 {
		padding:10px 15px 15px 15px;
		min-width:1000px;
	}
	.logout i {
		font-size:18px;
	}
	.message {
		padding:10px;
		font-size:12px;
	}
	.sheet td select {
		width:100%;
	}
	.breadcrumbs {
		padding:10px 15px;
	}
	#logo img {
		margin-top:13px;
	}
	input[type=text], input[type=password], textarea {
		width:100%;
	}
	.sheet .date {
		width:auto;
		padding:10px 5px;
	}
	.pager {
		margin:5px 0 20px;
	}
	.pager li {
		margin-left:0;
	}
	.pager li strong,
	.pager li a {
		font-size:10px;
		padding:4px 8px;
	}
	.sheet th {
		width:auto;
	}
	.sheet th.borderNone,
	.sheet td.borderNone {
		border-bottom:none;
	}
	.boxForm {
		overflow-x:scroll;
		-webkit-overflow-scrolling:touch;
	}
	.searchBox02 {
		min-width:720px;
	}
	.sheet02 th,
	.sheet02 td {
		display:block;
	}
	.checkbox input[type="checkbox"] + label {
		font-size:12px;
		padding:0 0 0 23px;
	}
	#footer, #footer a {
		font-size:10px;
	}
	.input[type=button] {
		display:block;
	}
	.labelBlock {
		display:block;
	}
	.warpButton {
		width:100%;
		margin:0 auto;
		max-width:120px;
		display:inherit;
	}
	.button.gray2,
	.button.blue2 {
		width:120px;
	}
	.boxSubmit {
		width:100%;
		margin:0 auto;
		max-width:252px;
	}
	#navi > li:nth-child(1n) {
		margin-bottom:0;
	}
	#loginWrapper {
		max-width:inherit;
		margin:13% 10px 5%;
		padding:25px 20px 30px;
	}
	#loginWrapper form {
		padding:15px;
	}
	#loginWrapper .loginInput {
		padding:13px 10px 10px;
	}
	.alert{
		padding:10px;
	}
	.button.login {
		height:40px;
		font-size:15px;
	}
}
@media screen and (max-width:360px) {
	.sheet02 th, .sheet02 td {
		padding:10px;
		display:block;
	}
}




/*custom*/
#msform {
	margin: 50px auto;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	position: relative;
}
#msform fieldset:not(:first-of-type) {
	display: none;
}

#progressbar {
  padding: 0;
  padding-bottom: 80px;
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  width: 33%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
#progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
#progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
#progressbar li:first-child:after {
  content: none;
}
#progressbar li.active {
  color: green;
}
#progressbar li.active:before {
  border-color: #55b776;
}
#progressbar li.active + li:after {
  background-color: #55b776;
}
.td_body input, .td_body select{
	border-radius: 0px !important;
	height: 25px;
}
.td_body input:focus, .td_body select:focus{
	outline: none;
}
.margin20{
	margin-top: 40px;
}
.error:empty {
	display: none;
}
.error{
	padding-left: 10px;
}
.fconfirm{
	background-color: rgba(255, 102, 0, 0.1)!important;
}
span.label{
	width: 127px;
	float: left;
	padding-top: 13px;
}