@charset "UTF-8";

/* ****************************************************************** 

	--module.css--

	このファイルを直接読み込むのは禁止します。
	必ず内容をstyle.cssにコピーしてから使用してください。

	1. jQuery setting
		1-1. Fade styles
		1-2. SlideToggle styles
		1-3. Accordion styles
		1-4. Tab styles
		1-5. TinyTips styles
		1-6. Cycle2 styles
		1-7. FlexSlider styles
		
	2. Other setting
		2-1. ImgIcon styles
		2-2. Floatlist styles
		2-3. Linelist styles
		2-4. SearchResult styles
		2-5. Flowlist styles
		2-6. Tagcloud styles
		
	3. Animate setting
	4. IconFont setting

****************************************************************** */

/*==================================================================
	1. jQuery setting
===================================================================*/

/* ------------------------------------------------------------------
	1-1. Fade styles
-------------------------------------------------------------------*/
.fade {
	display:block;
	border:1px solid #CCC;
	height:20px;
	padding:10px;
	color:#06C;
	font-size:13px;
	cursor:pointer;
}
.fade span {
	display:block;
	height:16px;
	padding-top:4px;
	background:url(/img/module/icon_plus_minus.png) no-repeat 100% 0;
	line-height:1;
}
.fade.active span { background-position:100% 100%; }
.fadeBox {
	display:none;
	position:absolute;
	top:60px;
	z-index:9999;
	width:723px;
	padding:20px;
	border:1px solid #CCC;
	background:#FFF;
}


/* ------------------------------------------------------------------
	1-2. SlideToggle styles
-------------------------------------------------------------------*/
.slideToggle {
	display:block;
	border:1px solid #CCC;
	height:20px;
	padding:10px;
	color:#06C;
	font-size:13px;
	cursor:pointer;
}
.slideToggle span {
	display:block;
	height:16px;
	padding-top:4px;
	background:url(/img/module/icon_plus_minus.png) no-repeat 100% 0;
	line-height:1;
}
.slideToggle.active span { background-position:100% 100%; }
.toggleBox {
	display:none;
	padding:20px 20px 0;
}


/* ------------------------------------------------------------------
	1-3. Accordion styles
-------------------------------------------------------------------*/
.accordionWrapper {
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
}
.accordion {
	display:block;
	border-top:1px solid #CCC;
	height:20px;
	padding:10px;
	color:#06C;
	font-size:13px;
	cursor:pointer;
}
.accordion span {
	display:block;
	height:16px;
	padding-top:4px;
	background:url(/img/module/icon_plus_minus.png) no-repeat 100% 0;
	line-height:1;
}
.accordion.active span { background-position:100% 100%; }
.accordionBox {
	display:none;
	padding:20px;
	border-top:1px solid #CCC;
	border-bottom:none;
}


/* ------------------------------------------------------------------
	1-4. Tab styles
-------------------------------------------------------------------*/
.tab {
	height:30px;
	border-left:1px solid #DDD;
	background:url(/img/common/line_separate.gif) repeat-x 0 100%;
}
.tab li { display:inline; }
.tab li a {
	display:block;
	float:left;
	width:150px;
	height:28px;
	border-top:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	background-color:#F5F5F5;
	text-align:center;
	text-decoration:none;
	line-height:28px;
}
.tab .active a {
	border-bottom:1px solid #FFF;
	background-color:#FFF;
	color:#444;
	text-decoration:none;
}
.tabContents { width:100%; }
.tabBox {
	display:none;
	padding:20px;
}


/* ------------------------------------------------------------------
	1-5. TinyTips styles
-------------------------------------------------------------------*/
.tinyTip .content {
	width:310px;
	padding:10px;
	border:6px solid #E2E2E2;
	background:#FFF;
	color:#333;
}
.tinyTip .bottom {
	width:342px;
	height:14px;
	background:url(/img/tinytips/arrow_tinytips.png) no-repeat;
	/* for IE7〜8 .pngfix*/
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/tinytips/arrow_tinytips.png', sizingMethod='scale')\9;
	*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/tinytips/arrow_tinytips.png', sizingMethod='scale');
	background-image:none\9;
	*background-image:none;
}


/* ------------------------------------------------------------------
	1-6. Cycle2 styles
-------------------------------------------------------------------*/
#cycle-wrapper {
	position:relative;
	overflow:hidden;
	width:100%;
	height:255px;
}
#cycle-slideshow {
	position:relative;
	width:100%;
	height:255px;
}
.cycle-direction span {
	display:block;
	position:absolute;
	top:50%;
	z-index:100;
	width:30px;
	height:30px;
	margin-top:-15px;
	background:url(/img/module/btn_direction_nav.png) no-repeat;
	cursor:pointer;
}
.cycle-direction #cycle-next {
	right:10px;
	background-position:100% 0;
}
.cycle-direction #cycle-prev { left:10px; }


/* ------------------------------------------------------------------
	1-7 FlexSlider styles
-------------------------------------------------------------------*/
.flexSlider {
	position:relative;
	width:765px;
	height:253px;
	margin:0 auto 60px;
	background:#FFF;
}
.flexSlider .slides > li {
	display:none;
	-webkit-backface-visibility:hidden;
}
.slides:after {
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	line-height:0;
	content:"";
}

/*	Carousel styles
-------------------------------------------------------------------*/
.flexCarousel {
	position:relative;
	width:662px;
	height:330px;
	margin:0 auto 60px;
	*margin-bottom:30px;
	border:1px solid #DDD;
	background:#FFF;
}
.flexCarousel .slides > li {
	display:none;
	-webkit-backface-visibility:hidden;
}
.carouselBox article {
	width:200px;
	padding:10px;
	border-right:1px solid #E7E7E7;
}
.carouselBox .thumb {
	display:block;
	width:200px;
	height:200px;
	margin-bottom:10px;
}
.carouselBox .articleTitle {
	overflow:hidden;
	width:100%;
	height:32px;
	margin-bottom:15px;
	font-size:13px;
}
.carouselBox .articleText {
	width:100%;
	margin-bottom:5px !important;
	font-size:13px;
}

/*	Flex-direction-nav styles
-------------------------------------------------------------------*/
.flex-direction-nav { *height:0; }
.flex-direction-nav a {
	display:block;
	overflow:hidden;
	position:absolute;
	top:50%;
	z-index:10;
	width:30px;
	height:30px;
	margin-top:-15px;
	background:url(/img/module/btn_direction_nav.png) no-repeat;
	text-indent:-9999px;
	cursor:pointer;
}
.flex-direction-nav .flex-next {
	right:10px;
	background-position:100% 0;
}
.flex-direction-nav .flex-prev { left:10px; }
.flexCarousel .flex-direction-nav .flex-next { right:-40px; }
.flexCarousel .flex-direction-nav .flex-prev { left:-40px; }

/*	Flex-control-nav styles
-------------------------------------------------------------------*/
.flex-control-nav {
	position:absolute;
	bottom:-30px;
	width:100%;
	text-align:center;
}
.flex-control-nav li {
	display:inline-block;
	*display:inline;
	margin:0 6px;
	zoom:1;
}
.flex-control-paging li a {
	display:block;
	overflow:hidden;
	position:relative;
	-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
	box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
	width:12px;
	height:12px;
	background:#666;
	background:rgba(0,0,0,0.5);
	border-radius:6px;
	text-indent:-9999px;
	cursor:pointer;
	behavior:url(/htc/PIE.php);
}
.flex-control-paging li a:hover {
	background:#333;
	background:rgba(0,0,0,0.7);
}
.flex-control-paging li a.flex-active {
	background:#000;
	background:rgba(0,0,0,0.9);
	cursor:default;
}


/*==================================================================
	2. Other setting
===================================================================*/

/* ------------------------------------------------------------------
	2-1. ImgIcon styles
-------------------------------------------------------------------*/
.li {
	padding-left:10px;
	background:url(/img/module/icon_li.gif) no-repeat 0 .35em;
}
ul.li, ul.li {
	padding-left:0px;
	background-image:none;
}
.li li a {
	padding-left:10px;
	background:url(/img/module/icon_li.gif) no-repeat 0 .35em;
}
.help {
	padding-left:18px;
	background:url(/img/module/icon_help.gif) no-repeat 0 .2em;
}
.pdf {
	padding:6px 0 6px 20px;
	background:url(/img/module/icon_pdf.gif) no-repeat 0 .4em;
}
.blank {
	padding-right:18px;
	background:url(/img/module/icon_blank.gif) no-repeat 100% 0;
}
.example {
	display:block;
	padding:0 0 0 15px;
	background:url(/img/module/icon_example.gif) no-repeat 0 .2em;
	color:#666;
	font-size:11px;
}
.back {
	margin:12px 0;
	padding-top:8px;
	background:url(/img/module/line_dot.gif) repeat-x 0% 0%;
	text-align:center;
}
.back a {
	padding-left:10px;
	background:url(/img/module/icon_li_back.gif) no-repeat 0% .3em;
}
.more {
	padding-left:10px;
	background:url(/img/module/icon_li.gif) no-repeat 0 .35em;
	font-size:77%;
}


/* ------------------------------------------------------------------
	2-2. FloatList styles
-------------------------------------------------------------------*/
.float7 li {
	float:left;
	width:11%;
}
.float6 li {
	float:left;
	width:16%;
}
.float5 li {
	float:left;
	width:19%;
}
.float4 li {
	float:left;
	width:24%;
}
.float3 li {
	float:left;
	width:32%;
}
.float2 li {
	float:left;
	width:49%;
}


/* ------------------------------------------------------------------
	2-3. Linelist styles
-------------------------------------------------------------------*/
.linkBlock {
	overflow:hidden;
	*zoom:1;
	width:100%;
	margin-right:-5px;
	padding:5px;
	color:#CCC;
}
.linkBlock li {
	display:block;
	float:left;
	width:238px;
	margin:0 5px 5px 0;
	padding:5px;
	border:1px solid #CCC;
	background:#FFF;
}
.linkBlock li:hover { background:#EEF5FF; }
.linkBlock li a { display:block; }


/* ------------------------------------------------------------------
	2-4. SearchResult styles
-------------------------------------------------------------------*/
.searchResult li { line-height:1; }
.searchResult .siteTitle {
	font-size:110%;
	text-decoration:underline;
}
.searchResult .siteDescription {
	margin:3px 0px !important;
	color:#444;
}
.searchResult .siteHost, .searchResult .siteHost a { color:#7777CC; }
.searchResult .siteHost a {
	color:#7777CC !important;
	text-decoration:underline;
}
.searchResult .siteHost em { color:#008000; }
.searchResult li { margin-bottom:16px; }

/* Search styles
-------------------------------------------------------------------*/
.searchUtil {
	margin-bottom:2em;
	padding-bottom:4px;
	background:#FFF url(/img/common/line_dot.gif) repeat-x 0 100%;
}
.searchUtil dt, .searchUtil dd { display:inline; }
.searchUtil dt strong {
	font-size:150%;
	color:#F60;
	font-family:Helvetica, Arial, sans-serif;
	margin-right:0.3em;
}


/* ------------------------------------------------------------------
	2-5. Flowlist styles
-------------------------------------------------------------------*/
.flowlist {
	width:100%;
	margin-bottom:15px;
}
.flowlist li {
	float:left;
	width:32%;
	margin:0 4px;
	padding:10px 0 6px 0;
	border-bottom:8px solid #EEE;
	text-align:center;
}
.flowlist .now {
	border-bottom:8px solid #FC0;
	font-weight:bold;
}


/* ------------------------------------------------------------------
	2-6. Tagcloud styles
-------------------------------------------------------------------*/
.tagCloud li { display:inline; }
.tagCloud .level1 a {
	color:#3E5B71;
	font-size:167%;
	font-weight:bold;
}
.tagCloud .level2 a {
	color:#668EAC;
	font-size:136%;
	font-weight:bold;
}
.tagCloud .level3 a {
	color:#668EAC;
	font-size:122%;
	font-weight:bold;
}
.tagCloud .level4 a {
	color:#87A6BE;
	font-size:114%;
}
.tagCloud .level5 a {
	color:#A7BECF;
	font-size:92%;
}
.tagCloud .level6 a {
	color:#C7D5E0;
	font-size:77%;
}
.tagCloud a:hover { color:#000; }


/*==================================================================
	3. Animate setting
===================================================================*/
/*
Animate.css - http://daneden.me/animate
LICENSED UNDER THE  MIT LICENSE (MIT)

Copyright (c) 2012 Dan Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.animated:hover {
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	-ms-animation-fill-mode:both;
	animation-duration:1s;
}
.animated.hinge:hover {
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-o-animation-duration:2s;
	-ms-animation-duration:2s;
	animation-duration:2s;
}
@-webkit-keyframes flash {
	0%, 50%, 100% { opacity:1; }
	25%, 75% { opacity:0; }
}
@-moz-keyframes flash {
	0%, 50%, 100% { opacity:1; }
	25%, 75% { opacity:0; }
}
@-o-keyframes flash {
	0%, 50%, 100% { opacity:1; }
	25%, 75% { opacity:0; }
}
@keyframes flash {
	0%, 50%, 100% { opacity:1; }
	25%, 75% { opacity:0; }
}
.flash:hover {
	-webkit-animation-name:flash;
	-moz-animation-name:flash;
	-o-animation-name:flash;
	animation-name:flash;
}
@-webkit-keyframes shake {
	0%, 100% { -webkit-transform:translateX(0); }
	10%, 30%, 50%, 70%, 90% { -webkit-transform:translateX(-10px); }
	20%, 40%, 60%, 80% { -webkit-transform:translateX(10px); }
}
@-moz-keyframes shake {
	0%, 100% { -moz-transform:translateX(0); }
	10%, 30%, 50%, 70%, 90% { -moz-transform:translateX(-10px); }
	20%, 40%, 60%, 80% { -moz-transform:translateX(10px); }
}
@-o-keyframes shake {
	0%, 100% { -o-transform:translateX(0); }
	10%, 30%, 50%, 70%, 90% { -o-transform:translateX(-10px); }
	20%, 40%, 60%, 80% { -o-transform:translateX(10px); }
}
@keyframes shake {
	0%, 100% { transform:translateX(0); }
	10%, 30%, 50%, 70%, 90% { transform:translateX(-10px); }
	20%, 40%, 60%, 80% { transform:translateX(10px); }
}
.shake:hover {
	-webkit-animation-name:shake;
	-moz-animation-name:shake;
	-o-animation-name:shake;
	animation-name:shake;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% { -webkit-transform:translateY(0); }
	40% { -webkit-transform:translateY(-30px); }
	60% { -webkit-transform:translateY(-15px); }
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% { -moz-transform:translateY(0); }
	40% { -moz-transform:translateY(-30px); }
	60% { -moz-transform:translateY(-15px); }
}
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% { -o-transform:translateY(0); }
	40% { -o-transform:translateY(-30px); }
	60% { -o-transform:translateY(-15px); }
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% { transform:translateY(0); }
	40% { transform:translateY(-30px); }
	60% { transform:translateY(-15px); }
}
.bounce:hover {
	-webkit-animation-name:bounce;
	-moz-animation-name:bounce;
	-o-animation-name:bounce;
	animation-name:bounce;
}
@-webkit-keyframes tada {
	0% { -webkit-transform:scale(1); }
	10%, 20% { -webkit-transform:scale(0.9) rotate(-3deg); }
	30%, 50%, 70%, 90% { -webkit-transform:scale(1.1) rotate(3deg); }
	40%, 60%, 80% { -webkit-transform:scale(1.1) rotate(-3deg); }
	100% { -webkit-transform:scale(1) rotate(0); }
}
@-moz-keyframes tada {
	0% {-moz-transform:scale(1); }
	10%, 20% { -moz-transform:scale(0.9) rotate(-3deg); }
	30%, 50%, 70%, 90% { -moz-transform:scale(1.1) rotate(3deg); }
	40%, 60%, 80% { -moz-transform:scale(1.1) rotate(-3deg); }
	100% { -moz-transform:scale(1) rotate(0); }
}
@-o-keyframes tada {
	0% { -o-transform:scale(1); }
	10%, 20% { -o-transform:scale(0.9) rotate(-3deg); }
	30%, 50%, 70%, 90% { -o-transform:scale(1.1) rotate(3deg); }
	40%, 60%, 80% { -o-transform:scale(1.1) rotate(-3deg); }
	100% { -o-transform:scale(1) rotate(0); }
}
@keyframes tada {
	0% { transform:scale(1); }
	10%, 20% { transform:scale(0.9) rotate(-3deg); }
	30%, 50%, 70%, 90% { transform:scale(1.1) rotate(3deg); }
	40%, 60%, 80% { transform:scale(1.1) rotate(-3deg); }
	100% { transform:scale(1) rotate(0); }
}
.tada:hover {
	-webkit-animation-name:tada;
	-moz-animation-name:tada;
	-o-animation-name:tada;
	animation-name:tada;
}
@-webkit-keyframes swing {
	20%, 40%, 60%, 80%, 100% { -webkit-transform-origin:top center; }
	20% { -webkit-transform:rotate(15deg); }
	40% { -webkit-transform:rotate(-10deg); }
	60% { -webkit-transform:rotate(5deg); }
	80% { -webkit-transform:rotate(-5deg); }
	100% { -webkit-transform:rotate(0deg); }
}
@-moz-keyframes swing {
	20% { -moz-transform:rotate(15deg); }
	40% { -moz-transform:rotate(-10deg); }
	60% { -moz-transform:rotate(5deg); }
	80% { -moz-transform:rotate(-5deg); }
	100% { -moz-transform:rotate(0deg); }
}
@-o-keyframes swing {
	20% { -o-transform:rotate(15deg); }
	40% { -o-transform:rotate(-10deg); }
	60% { -o-transform:rotate(5deg); }
	80% { -o-transform:rotate(-5deg); }
	100% { -o-transform:rotate(0deg); }
}
@keyframes swing {
	20% { transform:rotate(15deg); }
	40% { transform:rotate(-10deg); }
	60% { transform:rotate(5deg); }
	80% { transform:rotate(-5deg); }
	100% { transform:rotate(0deg); }
}
.swing:hover {
	-webkit-transform-origin:top center;
	-moz-transform-origin:top center;
	-o-transform-origin:top center;
	transform-origin:top center;
	-webkit-animation-name:swing;
	-moz-animation-name:swing;
	-o-animation-name:swing;
	animation-name:swing;
}
@-webkit-keyframes wobble {
	0% { -webkit-transform:translateX(0%); }
	15% { -webkit-transform:translateX(-25%) rotate(-5deg); }
	30% { -webkit-transform:translateX(20%) rotate(3deg); }
	45% { -webkit-transform:translateX(-15%) rotate(-3deg); }
	60% { -webkit-transform:translateX(10%) rotate(2deg); }
	75% { -webkit-transform:translateX(-5%) rotate(-1deg); }
	100% { -webkit-transform:translateX(0%); }
}
@-moz-keyframes wobble {
	0% { -moz-transform:translateX(0%); }
	15% { -moz-transform:translateX(-25%) rotate(-5deg); }
	30% { -moz-transform:translateX(20%) rotate(3deg); }
	45% { -moz-transform:translateX(-15%) rotate(-3deg); }
	60% { -moz-transform:translateX(10%) rotate(2deg); }
	75% { -moz-transform:translateX(-5%) rotate(-1deg); }
	100% { -moz-transform:translateX(0%); }
}
@-o-keyframes wobble {
	0% { -o-transform:translateX(0%); }
	15% { -o-transform:translateX(-25%) rotate(-5deg); }
	30% { -o-transform:translateX(20%) rotate(3deg); }
	45% { -o-transform:translateX(-15%) rotate(-3deg); }
	60% { -o-transform:translateX(10%) rotate(2deg); }
	75% { -o-transform:translateX(-5%) rotate(-1deg); }
	100% { -o-transform:translateX(0%); }
}
@keyframes wobble {
	0% { transform:translateX(0%); }
	15% { transform:translateX(-25%) rotate(-5deg); }
	30% { transform:translateX(20%) rotate(3deg); }
	45% { transform:translateX(-15%) rotate(-3deg); }
	60% { transform:translateX(10%) rotate(2deg); }
	75% { transform:translateX(-5%) rotate(-1deg); }
	100% { transform:translateX(0%); }
}
.wobble:hover {
	-webkit-animation-name:wobble;
	-moz-animation-name:wobble;
	-o-animation-name:wobble;
	animation-name:wobble;
}
@-webkit-keyframes wiggle {
	0% { -webkit-transform:skewX(9deg); }
	10% { -webkit-transform:skewX(-8deg); }
	20% { -webkit-transform:skewX(7deg); }
	30% { -webkit-transform:skewX(-6deg); }
	40% { -webkit-transform:skewX(5deg); }
	50% { -webkit-transform:skewX(-4deg); }
	60% { -webkit-transform:skewX(3deg); }
	70% { -webkit-transform:skewX(-2deg); }
	80% { -webkit-transform:skewX(1deg); }
	90% { -webkit-transform:skewX(0deg); }
	100% { -webkit-transform:skewX(0deg); }
}
@-moz-keyframes wiggle {
	0% { -moz-transform:skewX(9deg); }
	10% { -moz-transform:skewX(-8deg); }
	20% { -moz-transform:skewX(7deg); }
	30% { -moz-transform:skewX(-6deg); }
	40% { -moz-transform:skewX(5deg); }
	50% { -moz-transform:skewX(-4deg); }
	60% { -moz-transform:skewX(3deg); }
	70% { -moz-transform:skewX(-2deg); }
	80% { -moz-transform:skewX(1deg); }
	90% { -moz-transform:skewX(0deg); }
	100% { -moz-transform:skewX(0deg); }
}
 @-o-keyframes wiggle {
	0% { -o-transform:skewX(9deg); }
	10% { -o-transform:skewX(-8deg); }
	20% { -o-transform:skewX(7deg); }
	30% { -o-transform:skewX(-6deg); }
	40% { -o-transform:skewX(5deg); }
	50% { -o-transform:skewX(-4deg); }
	60% { -o-transform:skewX(3deg); }
	70% { -o-transform:skewX(-2deg); }
	80% { -o-transform:skewX(1deg); }
	90% { -o-transform:skewX(0deg); }
	100% { -o-transform:skewX(0deg); }
}
@keyframes wiggle {
	0% { transform:skewX(9deg); }
	10% { transform:skewX(-8deg); }
	20% { transform:skewX(7deg); }
	30% { transform:skewX(-6deg); }
	40% { transform:skewX(5deg); }
	50% { transform:skewX(-4deg); }
	60% { transform:skewX(3deg); }
	70% { transform:skewX(-2deg); }
	80% { transform:skewX(1deg); }
	90% { transform:skewX(0deg); }
	100% { transform:skewX(0deg); }
}
.wiggle:hover {
	-webkit-animation-name:wiggle;
	-moz-animation-name:wiggle;
	-o-animation-name:wiggle;
	animation-name:wiggle;
	-webkit-animation-timing-function:ease-in;
	-moz-animation-timing-function:ease-in;
	-o-animation-timing-function:ease-in;
	animation-timing-function:ease-in;
}
@-webkit-keyframes pulse {
	0% { -webkit-transform:scale(1); }
	50% { -webkit-transform:scale(1.1); }
	100% { -webkit-transform:scale(1); }
}
@-moz-keyframes pulse {
	0% { -moz-transform:scale(1); }
	50% { -moz-transform:scale(1.1); }
	100% { -moz-transform:scale(1); }
}
@-o-keyframes pulse {
	0% { -o-transform:scale(1); }
	50% { -o-transform:scale(1.1); }
	100% { -o-transform:scale(1); }
}
@keyframes pulse {
	0% { transform:scale(1); }
	50% { transform:scale(1.1); }
	100% { transform:scale(1); }
}
.pulse:hover {
	-webkit-animation-name:pulse;
	-moz-animation-name:pulse;
	-o-animation-name:pulse;
	animation-name:pulse;
}


/*==================================================================
	4. IconFont setting
===================================================================*/

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at:http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).
    */
@font-face {
	font-family:"FontAwesome";
	src:url('/font/fontawesome-webfont.eot');
	src:url('/font/fontawesome-webfont.eot?#iefix') format('eot'),
		url('/font/fontawesome-webfont.woff') format('woff'),
		url('/font/fontawesome-webfont.ttf') format('truetype'),
		url('/font/fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight:normal;
	font-style:normal;
}

[class^="icon-"], [class*=" icon-"] {
	/position:relative;
	/top:0.2em;
	padding-right:0.4em;
	font-family:FontAwesome;
	font-weight:normal;
	font-style:normal;
	vertical-align:middle;
}
.icon-glass:before { content:"\f000"; }
.icon-music:before { content:"\f001"; }
.icon-search:before { content:"\f002"; }
.icon-envelope:before { content:"\f003"; }
.icon-heart:before { content:"\f004"; }
.icon-star:before { content:"\f005"; }
.icon-star-empty:before { content:"\f006"; }
.icon-user:before { content:"\f007"; }
.icon-film:before { content:"\f008"; }
.icon-th-large:before { content:"\f009"; }
.icon-th:before { content:"\f00a"; }
.icon-th-list:before { content:"\f00b"; }
.icon-ok:before { content:"\f00c"; }
.icon-remove:before { content:"\f00d"; }
.icon-zoom-in:before { content:"\f00e"; }
.icon-zoom-out:before { content:"\f010"; }
.icon-off:before { content:"\f011"; }
.icon-signal:before { content:"\f012"; }
.icon-cog:before { content:"\f013"; }
.icon-trash:before { content:"\f014"; }
.icon-home:before { content:"\f015"; }
.icon-file:before { content:"\f016"; }
.icon-time:before { content:"\f017"; }
.icon-road:before { content:"\f018"; }
.icon-download-alt:before { content:"\f019"; }
.icon-download:before { content:"\f01a"; }
.icon-upload:before { content:"\f01b"; }
.icon-inbox:before { content:"\f01c"; }
.icon-play-circle:before { content:"\f01d"; }
.icon-repeat:before { content:"\f01e"; }
/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before { content:"\f021"; }
.icon-list-alt:before { content:"\f022"; }
.icon-lock:before { content:"\f023"; }
.icon-flag:before { content:"\f024"; }
.icon-headphones:before { content:"\f025"; }
.icon-volume-off:before { content:"\f026"; }
.icon-volume-down:before { content:"\f027"; }
.icon-volume-up:before { content:"\f028"; }
.icon-qrcode:before { content:"\f029"; }
.icon-barcode:before { content:"\f02a"; }
.icon-tag:before { content:"\f02b"; }
.icon-tags:before { content:"\f02c"; }
.icon-book:before { content:"\f02d"; }
.icon-bookmark:before { content:"\f02e"; }
.icon-print:before { content:"\f02f"; }
.icon-camera:before { content:"\f030"; }
.icon-font:before { content:"\f031"; }
.icon-bold:before { content:"\f032"; }
.icon-italic:before { content:"\f033"; }
.icon-text-height:before { content:"\f034"; }
.icon-text-width:before { content:"\f035"; }
.icon-align-left:before { content:"\f036"; }
.icon-align-center:before { content:"\f037"; }
.icon-align-right:before { content:"\f038"; }
.icon-align-justify:before { content:"\f039"; }
.icon-list:before { content:"\f03a"; }
.icon-indent-left:before { content:"\f03b"; }
.icon-indent-right:before { content:"\f03c"; }
.icon-facetime-video:before { content:"\f03d"; }
.icon-picture:before { content:"\f03e"; }
.icon-pencil:before { content:"\f040"; }
.icon-map-marker:before { content:"\f041"; }
.icon-adjust:before { content:"\f042"; }
.icon-tint:before { content:"\f043"; }
.icon-edit:before { content:"\f044"; }
.icon-share:before { content:"\f045"; }
.icon-check:before { content:"\f046"; }
.icon-move:before { content:"\f047"; }
.icon-step-backward:before { content:"\f048"; }
.icon-fast-backward:before { content:"\f049"; }
.icon-backward:before { content:"\f04a"; }
.icon-play:before { content:"\f04b"; }
.icon-pause:before { content:"\f04c"; }
.icon-stop:before { content:"\f04d"; }
.icon-forward:before { content:"\f04e"; }
.icon-fast-forward:before { content:"\f050"; }
.icon-step-forward:before { content:"\f051"; }
.icon-eject:before { content:"\f052"; }
.icon-chevron-left:before { content:"\f053"; }
.icon-chevron-right:before { content:"\f054"; }
.icon-plus-sign:before { content:"\f055"; }
.icon-minus-sign:before { content:"\f056"; }
.icon-remove-sign:before { content:"\f057"; }
.icon-ok-sign:before { content:"\f058"; }
.icon-question-sign:before { content:"\f059"; }
.icon-info-sign:before { content:"\f05a"; }
.icon-screenshot:before { content:"\f05b"; }
.icon-remove-circle:before { content:"\f05c"; }
.icon-ok-circle:before { content:"\f05d"; }
.icon-ban-circle:before { content:"\f05e"; }
.icon-arrow-left:before { content:"\f060"; }
.icon-arrow-right:before { content:"\f061"; }
.icon-arrow-up:before { content:"\f062"; }
.icon-arrow-down:before { content:"\f063"; }
.icon-share-alt:before { content:"\f064"; }
.icon-resize-full:before { content:"\f065"; }
.icon-resize-small:before { content:"\f066"; }
.icon-plus:before { content:"\f067"; }
.icon-minus:before { content:"\f068"; }
.icon-asterisk:before { content:"\f069"; }
.icon-exclamation-sign:before { content:"\f06a"; }
.icon-gift:before { content:"\f06b"; }
.icon-leaf:before { content:"\f06c"; }
.icon-fire:before { content:"\f06d"; }
.icon-eye-open:before { content:"\f06e"; }
.icon-eye-close:before { content:"\f070"; }
.icon-warning-sign:before { content:"\f071"; }
.icon-plane:before { content:"\f072"; }
.icon-calendar:before { content:"\f073"; }
.icon-random:before { content:"\f074"; }
.icon-comment:before { content:"\f075"; }
.icon-magnet:before { content:"\f076"; }
.icon-chevron-up:before { content:"\f077"; }
.icon-chevron-down:before { content:"\f078"; }
.icon-retweet:before { content:"\f079"; }
.icon-shopping-cart:before { content:"\f07a"; }
.icon-folder-close:before { content:"\f07b"; }
.icon-folder-open:before { content:"\f07c"; }
.icon-resize-vertical:before { content:"\f07d"; }
.icon-resize-horizontal:before { content:"\f07e"; }
.icon-bar-chart:before { content:"\f080"; }
.icon-twitter-sign:before { content:"\f081"; }
.icon-facebook-sign:before { content:"\f082"; }
.icon-camera-retro:before { content:"\f083"; }
.icon-key:before { content:"\f084"; }
.icon-cogs:before { content:"\f085"; }
.icon-comments:before { content:"\f086"; }
.icon-thumbs-up:before { content:"\f087"; }
.icon-thumbs-down:before { content:"\f088"; }
.icon-star-half:before { content:"\f089"; }
.icon-heart-empty:before { content:"\f08a"; }
.icon-signout:before { content:"\f08b"; }
.icon-linkedin-sign:before { content:"\f08c"; }
.icon-pushpin:before { content:"\f08d"; }
.icon-external-link:before { content:"\f08e"; }
.icon-signin:before { content:"\f090"; }
.icon-trophy:before { content:"\f091"; }
.icon-github-sign:before { content:"\f092"; }
.icon-upload-alt:before { content:"\f093"; }
.icon-lemon:before { content:"\f094"; }
.icon-phone:before { content:"\f095"; }
.icon-check-empty:before { content:"\f096"; }
.icon-bookmark-empty:before { content:"\f097"; }
.icon-phone-sign:before { content:"\f098"; }
.icon-twitter:before { content:"\f099"; }
.icon-facebook:before { content:"\f09a"; }
.icon-github:before { content:"\f09b"; }
.icon-unlock:before { content:"\f09c"; }
.icon-credit-card:before { content:"\f09d"; }
.icon-rss:before { content:"\f09e"; }
.icon-hdd:before { content:"\f0a0"; }
.icon-bullhorn:before { content:"\f0a1"; }
.icon-bell:before { content:"\f0a2"; }
.icon-certificate:before { content:"\f0a3"; }
.icon-hand-right:before { content:"\f0a4"; }
.icon-hand-left:before { content:"\f0a5"; }
.icon-hand-up:before { content:"\f0a6"; }
.icon-hand-down:before { content:"\f0a7"; }
.icon-circle-arrow-left:before { content:"\f0a8"; }
.icon-circle-arrow-right:before { content:"\f0a9"; }
.icon-circle-arrow-up:before { content:"\f0aa"; }
.icon-circle-arrow-down:before { content:"\f0ab"; }
.icon-globe:before { content:"\f0ac"; }
.icon-wrench:before { content:"\f0ad"; }
.icon-tasks:before { content:"\f0ae"; }
.icon-filter:before { content:"\f0b0"; }
.icon-briefcase:before { content:"\f0b1"; }
.icon-fullscreen:before { content:"\f0b2"; }
.icon-group:before { content:"\f0c0"; }
.icon-link:before { content:"\f0c1"; }
.icon-cloud:before { content:"\f0c2"; }
.icon-beaker:before { content:"\f0c3"; }
.icon-cut:before { content:"\f0c4"; }
.icon-copy:before { content:"\f0c5"; }
.icon-paper-clip:before { content:"\f0c6"; }
.icon-save:before { content:"\f0c7"; }
.icon-sign-blank:before { content:"\f0c8"; }
.icon-reorder:before { content:"\f0c9"; }
.icon-list-ul:before { content:"\f0ca"; }
.icon-list-ol:before { content:"\f0cb"; }
.icon-strikethrough:before { content:"\f0cc"; }
.icon-underline:before { content:"\f0cd"; }
.icon-table:before { content:"\f0ce"; }
.icon-magic:before { content:"\f0d0"; }
.icon-truck:before { content:"\f0d1"; }
.icon-pinterest:before { content:"\f0d2"; }
.icon-pinterest-sign:before { content:"\f0d3"; }
.icon-google-plus-sign:before { content:"\f0d4"; }
.icon-google-plus:before { content:"\f0d5"; }
.icon-money:before { content:"\f0d6"; }
.icon-caret-down:before { content:"\f0d7"; }
.icon-caret-up:before { content:"\f0d8"; }
.icon-caret-left:before { content:"\f0d9"; }
.icon-caret-right:before { content:"\f0da"; }
.icon-columns:before { content:"\f0db"; }
.icon-sort:before { content:"\f0dc"; }
.icon-sort-down:before { content:"\f0dd"; }
.icon-sort-up:before { content:"\f0de"; }
.icon-envelope-alt:before { content:"\f0e0"; }
.icon-linkedin:before { content:"\f0e1"; }
.icon-undo:before { content:"\f0e2"; }
.icon-legal:before { content:"\f0e3"; }
.icon-dashboard:before { content:"\f0e4"; }
.icon-comment-alt:before { content:"\f0e5"; }
.icon-comments-alt:before { content:"\f0e6"; }
.icon-bolt:before { content:"\f0e7"; }
.icon-sitemap:before { content:"\f0e8"; }
.icon-umbrella:before { content:"\f0e9"; }
.icon-paste:before { content:"\f0ea"; }
.icon-user-md:before { content:"\f200"; }

/* IE7 Version
-------------------------------------------------------------------*/
.icon-glass { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf000;&nbsp;') }
.icon-music { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf001;&nbsp;') }
.icon-search { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf002;&nbsp;') }
.icon-envelope { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf003;&nbsp;') }
.icon-heart { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf004;&nbsp;') }
.icon-star { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf005;&nbsp;') }
.icon-star-empty { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf006;&nbsp;') }
.icon-user { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf007;&nbsp;') }
.icon-film { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf008;&nbsp;') }
.icon-th-large { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf009;&nbsp;') }
.icon-th { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00a;&nbsp;') }
.icon-th-list { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00b;&nbsp;') }
.icon-ok { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00c;&nbsp;') }
.icon-remove { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00d;&nbsp;') }
.icon-zoom-in { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00e;&nbsp;') }
.icon-zoom-out { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf010;&nbsp;') }
.icon-off { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf011;&nbsp;') }
.icon-signal { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf012;&nbsp;') }
.icon-cog { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf013;&nbsp;') }
.icon-trash { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf014;&nbsp;') }
.icon-home { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf015;&nbsp;') }
.icon-file { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf016;&nbsp;') }
.icon-time { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf017;&nbsp;') }
.icon-road { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf018;&nbsp;') }
.icon-download-alt { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf019;&nbsp;') }
.icon-download { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01a;&nbsp;') }
.icon-upload { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01b;&nbsp;') }
.icon-inbox { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01c;&nbsp;') }
.icon-play-circle { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01d;&nbsp;') }
.icon-repeat { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01e;&nbsp;') }
.icon-refresh { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf021;&nbsp;') }
.icon-list-alt { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf022;&nbsp;') }
.icon-lock { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf023;&nbsp;') }
.icon-flag { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf024;&nbsp;') }
.icon-headphones { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf025;&nbsp;') }
.icon-volume-off { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf026;&nbsp;') }
.icon-volume-down { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf027;&nbsp;') }
.icon-volume-up { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf028;&nbsp;') }
.icon-qrcode { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf029;&nbsp;') }
.icon-barcode { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02a;&nbsp;') }
.icon-tag { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02b;&nbsp;') }
.icon-tags { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02c;&nbsp;') }
.icon-book { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02d;&nbsp;') }
.icon-bookmark { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02e;&nbsp;') }
.icon-print { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02f;&nbsp;') }
.icon-camera { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf030;&nbsp;') }
.icon-font { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf031;&nbsp;') }
.icon-bold { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf032;&nbsp;') }
.icon-italic { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf033;&nbsp;') }
.icon-text-height { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf034;&nbsp;') }
.icon-text-width { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf035;&nbsp;') }
.icon-align-left { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf036;&nbsp;') }
.icon-align-center { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf037;&nbsp;') }
.icon-align-right { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf038;&nbsp;') }
.icon-align-justify { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf039;&nbsp;') }
.icon-list { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03a;&nbsp;') }
.icon-indent-left { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03b;&nbsp;') }
.icon-indent-right { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03c;&nbsp;') }
.icon-facetime-video { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03d;&nbsp;') }
.icon-picture { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03e;&nbsp;') }
.icon-pencil { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf040;&nbsp;') }
.icon-map-marker { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf041;&nbsp;') }
.icon-adjust { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf042;&nbsp;') }
.icon-tint { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf043;&nbsp;') }
.icon-edit { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf044;&nbsp;') }
.icon-share { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf045;&nbsp;') }
.icon-check { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf046;&nbsp;') }
.icon-move { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf047;&nbsp;') }
.icon-step-backward { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf048;&nbsp;') }
.icon-fast-backward { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf049;&nbsp;') }
.icon-backward { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04a;&nbsp;') }
.icon-play { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04b;&nbsp;') }
.icon-pause { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04c;&nbsp;') }
.icon-stop { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04d;&nbsp;') }
.icon-forward { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04e;&nbsp;') }
.icon-fast-forward { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf050;&nbsp;') }
.icon-step-forward { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf051;&nbsp;') }
.icon-eject { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf052;&nbsp;') }
.icon-chevron-left { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf053;&nbsp;') }
.icon-chevron-right { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf054;&nbsp;') }
.icon-plus-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf055;&nbsp;') }
.icon-minus-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf056;&nbsp;') }
.icon-remove-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf057;&nbsp;') }
.icon-ok-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf058;&nbsp;') }
.icon-question-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf059;&nbsp;') }
.icon-info-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05a;&nbsp;') }
.icon-screenshot { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05b;&nbsp;') }
.icon-remove-circle { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05c;&nbsp;') }
.icon-ok-circle { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05d;&nbsp;') }
.icon-ban-circle { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05e;&nbsp;') }
.icon-arrow-left { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf060;&nbsp;') }
.icon-arrow-right { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf061;&nbsp;') }
.icon-arrow-up { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf062;&nbsp;') }
.icon-arrow-down { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf063;&nbsp;') }
.icon-share-alt { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf064;&nbsp;') }
.icon-resize-full { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf065;&nbsp;') }
.icon-resize-small { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf066;&nbsp;') }
.icon-plus { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf067;&nbsp;') }
.icon-minus { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf068;&nbsp;') }
.icon-asterisk { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf069;&nbsp;') }
.icon-exclamation-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06a;&nbsp;') }
.icon-gift { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06b;&nbsp;') }
.icon-leaf { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06c;&nbsp;') }
.icon-fire { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06d;&nbsp;') }
.icon-eye-open { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06e;&nbsp;') }
.icon-eye-close { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf070;&nbsp;') }
.icon-warning-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf071;&nbsp;') }
.icon-plane { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf072;&nbsp;') }
.icon-calendar { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf073;&nbsp;') }
.icon-random { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf074;&nbsp;') }
.icon-comment { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf075;&nbsp;') }
.icon-magnet { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf076;&nbsp;') }
.icon-chevron-up { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf077;&nbsp;') }
.icon-chevron-down { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf078;&nbsp;') }
.icon-retweet { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf079;&nbsp;') }
.icon-shopping-cart { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07a;&nbsp;') }
.icon-folder-close { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07b;&nbsp;') }
.icon-folder-open { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07c;&nbsp;') }
.icon-resize-vertical { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07d;&nbsp;') }
.icon-resize-horizontal { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07e;&nbsp;') }
.icon-bar-chart { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf080;&nbsp;') }
.icon-twitter-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf081;&nbsp;') }
.icon-facebook-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf082;&nbsp;') }
.icon-camera-retro { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf083;&nbsp;') }
.icon-key { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf084;&nbsp;') }
.icon-cogs { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf085;&nbsp;') }
.icon-comments { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf086;&nbsp;') }
.icon-thumbs-up { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf087;&nbsp;') }
.icon-thumbs-down { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf088;&nbsp;') }
.icon-star-half { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf089;&nbsp;') }
.icon-heart-empty { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08a;&nbsp;') }
.icon-signout { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08b;&nbsp;') }
.icon-linkedin-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08c;&nbsp;') }
.icon-pushpin { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08d;&nbsp;') }
.icon-external-link { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08e;&nbsp;') }
.icon-signin { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf090;&nbsp;') }
.icon-trophy { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf091;&nbsp;') }
.icon-github-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf092;&nbsp;') }
.icon-upload-alt { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf093;&nbsp;') }
.icon-lemon { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf094;&nbsp;') }
.icon-phone { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf095;&nbsp;') }
.icon-check-empty { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf096;&nbsp;') }
.icon-bookmark-empty { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf097;&nbsp;') }
.icon-phone-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf098;&nbsp;') }
.icon-twitter { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf099;&nbsp;') }
.icon-facebook { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09a;&nbsp;') }
.icon-github { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09b;&nbsp;') }
.icon-unlock { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09c;&nbsp;') }
.icon-credit-card { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09d;&nbsp;') }
.icon-rss { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09e;&nbsp;') }
.icon-hdd { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a0;&nbsp;') }
.icon-bullhorn { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a1;&nbsp;') }
.icon-bell { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a2;&nbsp;') }
.icon-certificate { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a3;&nbsp;') }
.icon-hand-right { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a4;&nbsp;') }
.icon-hand-left { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a5;&nbsp;') }
.icon-hand-up { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a6;&nbsp;') }
.icon-hand-down { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a7;&nbsp;') }
.icon-circle-arrow-left { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a8;&nbsp;') }
.icon-circle-arrow-right { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a9;&nbsp;') }
.icon-circle-arrow-up { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0aa;&nbsp;') }
.icon-circle-arrow-down { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ab;&nbsp;') }
.icon-globe { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ac;&nbsp;') }
.icon-wrench { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ad;&nbsp;') }
.icon-tasks { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ae;&nbsp;') }
.icon-filter { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0b0;&nbsp;') }
.icon-briefcase { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0b1;&nbsp;') }
.icon-fullscreen { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0b2;&nbsp;') }
.icon-group { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c0;&nbsp;') }
.icon-link { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c1;&nbsp;') }
.icon-cloud { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c2;&nbsp;') }
.icon-beaker { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c3;&nbsp;') }
.icon-cut { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c4;&nbsp;') }
.icon-copy { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c5;&nbsp;') }
.icon-paper-clip { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c6;&nbsp;') }
.icon-save { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c7;&nbsp;') }
.icon-sign-blank { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c8;&nbsp;') }
.icon-reorder { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c9;&nbsp;') }
.icon-list-ul { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ca;&nbsp;') }
.icon-list-ol { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cb;&nbsp;') }
.icon-strikethrough { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cc;&nbsp;') }
.icon-underline { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cd;&nbsp;') }
.icon-table { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ce;&nbsp;') }
.icon-magic { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d0;&nbsp;') }
.icon-truck { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d1;&nbsp;') }
.icon-pinterest { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d2;&nbsp;') }
.icon-pinterest-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d3;&nbsp;') }
.icon-google-plus-sign { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d4;&nbsp;') }
.icon-google-plus { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d5;&nbsp;') }
.icon-money { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d6;&nbsp;') }
.icon-caret-down { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d7;&nbsp;') }
.icon-caret-up { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d8;&nbsp;') }
.icon-caret-left { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d9;&nbsp;') }
.icon-caret-right { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0da;&nbsp;') }
.icon-columns { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0db;&nbsp;') }
.icon-sort { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0dc;&nbsp;') }
.icon-sort-down { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0dd;&nbsp;') }
.icon-sort-up { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0de;&nbsp;') }
.icon-envelope-alt { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e0;&nbsp;') }
.icon-linkedin { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e1;&nbsp;') }
.icon-undo { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e2;&nbsp;') }
.icon-legal { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e3;&nbsp;') }
.icon-dashboard { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e4;&nbsp;') }
.icon-comment-alt { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e5;&nbsp;') }
.icon-comments-alt { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e6;&nbsp;') }
.icon-bolt { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e7;&nbsp;') }
.icon-sitemap { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e8;&nbsp;') }
.icon-umbrella { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e9;&nbsp;') }
.icon-paste { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ea;&nbsp;') }
.icon-user-md { *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf200;&nbsp;') }
