<!-- / .section -->
	<p id="pageTop" class="pageTop"><a href="#wrapper">ページの先頭へ</a></p>
	<div id="footer">
		<small><a href="http://www.cybridge.jp/" target="_blank">COPYRIGHT &copy; CYBRiDGE CORPORATION. ALL RIGHTS RESERVED.</a></small>
	</div>
<!-- / #content-footer -->