<div style="width:310px;" class="clearfix auto">
{[if $form_status eq "confirm"]}
	<button type="submit" class="leftBox button gray2 mr10 mb0" name="submit[back]">戻る</button>
	<button type="submit" class="rigthBox button blue2 mb0" name="submit[done]">確認画面へ</button>
{[else]}
	<button type="submit" class="rigthBox button blue2 mb0" name="submit[confirm]">確定</button>
{[/if]}
</div>