<div style="width:250px;" class="clearfix auto">
	<button type="reset" class="leftBox button gray mr10 mb0">Reset</button>
	<button type="submit" class="rigthBox button blue mb0">Submit</button>
</div>