<nav id="side">
	<ul id="navi">

		<li>
			<span class="parent">Contract</span>
			<ul class="pull">
				<li {[if preg_match("/^\/admin\/contract_list/",$smarty.server.REQUEST_URI)]} class="active" {[/if]}><a href="/admin/contract_list">Contract List</a></li>
				{[if $smarty.session.default.check_action.contract_edit eq 1]}
				<li {[if preg_match("/^\/admin\/contract_edit/",$smarty.server.REQUEST_URI)]} class="active" {[/if]}><a href="/admin/contract_edit">Contract Add</a></li>
				{[/if]}
			</ul>
		</li>
		
		<li>
			<ul class="pull">
				<li {[if preg_match("/^\/admin\/template_/",$smarty.server.REQUEST_URI)]} class="active" {[/if]}><a href="/admin/template_list">Template List</a></li>
			</ul>
		</li>

		<li>
			<ul class="pull">
				<li {[if preg_match("/^\/admin\/staff_/",$smarty.server.REQUEST_URI)]} class="active" {[/if]}><a href="/admin/staff_list">Staff List</a></li>
			</ul>
		</li>
		{[if $smarty.session.default.admin.role eq 1]}
		<li>
			<ul class="pull">
				<li {[if preg_match("/^\/admin\/admin_/",$smarty.server.REQUEST_URI)]} class="active" {[/if]}><a href="/admin/admin_list">Admin List</a></li>
			</ul>
		</li>
		{[/if]}
		
	</ul>
	<!-- / #navi -->
</nav>
<!-- / #side -->
