@charset "UTF-8";

@media print {
	* {-webkit-print-color-adjust:exact;}

	.td_body.print {
		padding: 20px 10px 20px 45px!important;
	}
	.italic.f11 input{
		font-style: italic;
		font-weight: 85%;

	}
	staff-name{
		font-weight: bold !important;
		text-transform: uppercase;
	}

	table th{
		font-weight: bold;
	}
	table.blockTable td,
	table.blockTable th {
	    border:1px black solid !important;
	    padding: 5px 10px !important;
	    vertical-align: middle;
	    border-width: 1px !important;

	}
	table {
		table-collapse:separate;
		page-break-inside:auto
	}
    tr { page-break-inside:avoid; page-break-after:auto }
}
