@charset "UTF-8";
/* ****************************************************************** 

	--style.css--

	1. Style setting
		1-1. FontColor styles
		1-2. Headline styles

	2. Layout setting
		2-1. Base styles
		2-2. Header styles
		2-3. HeaderMenu styles
		2-4. Breadcrumbs styles
		2-5. Keyv styles
		2-6. Main styles

****************************************************************** */

/*==================================================================
	1. Style setting
===================================================================*/

/* ------------------------------------------------------------------
	1-1. FontColor styles
-------------------------------------------------------------------*/
html { color:#333; }
body { font:16px/1.25 "Times New Roman", Times, serif;}
a:link, a:visited { color:#06C; }
a:hover, a:active {
	color:#F30;
	text-decoration:none;
}


/* ------------------------------------------------------------------
	1-2. Headline styles
-------------------------------------------------------------------*/
.td_body h1 {
	font-size:24px;
	font-weight:bold;
	text-align:center;
	margin-bottom:40px;
}
.td_body h2 {
	font-weight:bold;
	margin-bottom:20px;
}
.td_body h3 {
	font-weight:bold;
	margin-bottom:20px;
}

/*==================================================================
	2. Layout setting
===================================================================*/

/* ------------------------------------------------------------------
	2-1. Base setting
-------------------------------------------------------------------*/


/* ------------------------------------------------------------------
	2-2. Header styles
-------------------------------------------------------------------*/
/*#header {display:none;
	background:#ccc;
	padding:10px 0;
	text-align:center;
}*/

/* ------------------------------------------------------------------
	2-6. Main styles
-------------------------------------------------------------------*/
table {
	width:100%;
}
table td {
	vertical-align:top;
}
.w60 {width:60% !important;}
.w30px {width:60px !important;}
.w50px {width:50px !important;}
.w60px {width:60px !important;}
.w80px {width:80px !important;}
.w100px {width:100px !important;}
.w120px {width:150px !important;}
.w150px {width:150px !important;}
.w200px {width:200px !important;}
.w250px {width:250px !important;}
.w300px {width:300px !important;}
.w400px {width:400px !important;}
.pr38 {padding-right:38px !important;}
.contractItems{
	/*list-style-image:url(http://contract.kathy.cba/img/common/ico_line.gif);*/
}
.contractItems li {
	background:url(/img/common/ico_line.gif) no-repeat 0 9px;
	margin:0 0 10px 20px;
	padding-left:20px;
}
.contractItems li ul li {
	background:none;
	margin:0;
	margin-bottom:10px;
	padding-left:10px;
	text-indent:-10px;
}
.signSpace td {
	height:100px;
}
#staff-name {
	text-transform:uppercase;
	font-weight: bold;
	text-align: center;
}
.text-center{
	text-align: center;
}
.contract_wrap{
	max-width: 1000px;
}
.padr4{
	padding-right: 4px;
}
/* ------------------------------------------------------------------*/
.ofterContainer {
	padding:0 10px;
	border: 3px solid #000;
	outline: 1px solid #000;
	outline-offset: 1px;
}
.titlePerform {
	text-decoration:underline;
}
.date_ofter {
	text-align:right;
}
.list_salary_detail li {
	padding-left:18px;
}
.list_salary_detail li:before{
	content:'▪';
	padding-right:3px;
}
.contract_offer {
	margin:0 41px;
}
.submit_offer {
	padding-right: 190px;
	text-align: right;
}
.sheet td.td_body table.blockTable td,
.sheet table.blockTable th {
    border:1px black solid !important;
    padding: 5px 10px !important;
    vertical-align: middle;
}

table.blockTable th {
    text-align: center;
}

table.blockTable {
    margin: 10px 0;
}

.margin_bottom_40{
	margin-bottom: 40px;
}