{[assign var="title" value="Admin List"]}
{[include file="_includes/admin/header.html"
	title		= $title
	css			= ','|explode:""
	js			= ','|explode:""
]}

<div id="main">
	<ol class="breadcrumbs">
		<li><a href="/admin/">Home</a></li>
		<li><em>{[$title]}</em></li>
	</ol>
	<!-- / .breadcrumbs -->

	<section class="section">
		<h1 class="headline"><span>Search Admin</span></h1>
		<div class="boxInner">
			<p class="linkList"><a href="/admin/admin_edit"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add New Admin</a></p>
			{[form class="searchBox"]}
			<table class="sheet">
				<tbody>

					<tr>
						<th >{[form_label name="keyword"]}</th>
						<td>{[input_html name="keyword" ]}</td>
					</tr>
					<tr>
						<td colspan="4" class="pa10">
							<button type="submit" class="button blue2 auto mb0">検索する</button>
						</td>
					</tr>
				</tbody>
			</table>
		{[/form]}
		<!-- / .searchBox -->
		</div>
	</section>
	<!-- / .section -->

	<section class="section">

	{[if $admin_p.rows]}
		{[$admin_p.pager.header|allow_html]}
		<table class="sheet tblList">
			<thead>
				<tr>
					
					<th class="w150px"><a href="/admin/admin_list?sort_by=id&{[$sorts.query]}"><span>ID</span></a>
					<th><a href="/admin/admin_list?sort_by=username&{[$sorts.query]}"><span>User name</span></a>
					<th><a href="/admin/admin_list?sort_by=fullname&{[$sorts.query]}"><span>Fullname</span></a>
					<th><a href="/admin/admin_list?sort_by=role&{[$sorts.query]}"><span>Role</span></a>
					<th><span>Action</span></th>
				</tr>
			</thead>
			<tbody>
			{[foreach from=$admin_p.rows item=row key=key]}
				{[ if ($key % 2) eq 0 ]}
					{[assign var=class value='trWhite']}
				{[else]}
					{[assign var=class value='trGray']}
				{[/if]}
				<tr class="{[$class]}">
					<td class="text-center">{[$row.id]}</td>
					<td>{[$row.username]}</td>
					<td>{[$row.fullname]}</td>
					<td>{[$role[$row.role]]}</td>
					<td class="operate">
						{[if $smarty.session.default.check_action.admin_edit eq 1]}
						<a href="/admin/admin_edit?id={[$row.id]}" class="block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
						{[/if]}
						{[if $smarty.session.default.check_action.delete eq 1 && $smarty.session.default.admin.id neq $row.id]}
						<a href="#" class="ajax_delete block" data-id="{[$row.id]}" data-table="admin" data-force="force"><i class="fa fa-times" aria-hidden="true"></i>Delete</a>
						{[/if]}

					</td>
				</tr>
			{[/foreach]}
			</tbody>
		</table> <!-- / .sheet -->
		{[$admin_p.pager.html|allow_html]}
		<!-- / .pagination -->
	{[else]}
		<p class="alert">{[#RESULT_NOT_FOUND#]}</p>
	{[/if]}

	</section>
	{[include file="_includes/admin/copyright.html"]}
</div>

{[include file="_includes/admin/footer.html"]}
