{[if $defaults.admin.admin_id]}
	{[assign var="title" value="Admin Edit"]}
{[else]}
	{[assign var="title" value="Admin Add"]}
{[/if]}
{[include file="_includes/admin/header.html"
	title	= $title
	id		= ""
	css		= ','|explode:"fileupload/import.css"
	css_link = ','|explode:""
	js		= ','|explode:"fileupload/import.js"
	js_link = ','|explode:""
]}

<script>
	$(document).ready(function() {
		$('.frmEdit').colorErrorInputs();
	});
</script>

<div id="main">
	<ol class="breadcrumbs">
		<li><a href="/admin/">Home</a></li>
		<li><a href="/admin/admin_list">Admin list</a></li>
		<li><em>{[$title]}</em></li>
	</ol>
	<!--  .breadcrumbs -->

	<section class="section" id="top">
		<h1 class="headline"><span>{[$title]}</span></h1>
		
		{[form class="frmEdit"]}
			
			{[form_error]}

			<table class="sheet mb20">
				<tbody>
					
					<tr>
						<th class="w150px">{[form_label name="admin[username]"]}</th>
						<td>
							{[input_html name="admin[username]"]}
						</td>
					</tr>
					<tr>
						<th>{[form_label name="admin[fullname]"]}</th>
						<td>
							{[input_html name="admin[fullname]"]}
						</td>
					</tr>
					<tr>
						<th>{[form_label name="admin[mail]"]}</th>
						<td>
							{[input_html name="admin[mail]"]}
						</td>
					</tr>
					<tr>
						<th>{[form_label name="admin[password]"]}</th>
						<td>
							{[input_html name="admin[password]"]}
						</td>
					</tr>
					<tr>
						<th>{[form_label name="password_confirm"]}</th>
						<td>
							{[input_html name="password_confirm"]}
						</td>
					</tr>
					<tr>
						<th>{[form_label name="admin[image]"]}</th>
						<td>
							{[form_file name="admin[image]" upload_type=#UPLOAD_TYPE_CROP# text="Drop image here or click to crop."]}
						</td>
					</tr>

					<tr>
						<th>{[form_label name="admin[role]"]}</th>
						<td>
							{[if $admin.role eq '1']}
							{[input_html name="admin[role]" disabled="disabled"]}
							{[else]}
							{[input_html name="admin[role]"]}
							{[/if]}
							

							{[ assign var=show_admin value=','|explode:"2" ]}
							{[if ($form_status == "confirm" && $smarty.post.admin.role|in_array:$show_admin) || $admin.role|in_array:$show_admin ]}
                                <div class="list_admin_permission list_checkbox" style="display: block!important">
									<h4>Please choose to set "not see salary of these people's":</h4>
									{[input_html name="admin[role_desc]"]}
								</div>
                            {[else if]}
                            	<div class="list_admin_permission list_checkbox">
									<h4>Please choose to set "not see salary of these people's":</h4>
									{[input_html name="admin[role_desc]"]}
								</div>
                            {[/if]}

						</td>
					</tr>
				</tbody>
			</table>
			{[include file="_includes/admin/form_edit_buttons.html"]}
		{[/form]}

	</section>
<!-- / .section -->
</div>
<!-- / #main -->
<style type="text/css">
	.list_admin_permission{
		display: none;
	}
	.list_checkbox h4{
		margin: 10px 0px 10px 0px;
	}
	.list_checkbox label{
		width: 30%;
		float: left;
	}
</style>
<script type="text/javascript">
	$('select[name="admin[role]"]').on('change', function(){
		var role = $(this).val();
		if($.inArray(role, ["2"]) != -1){
			$('.list_admin_permission').show();
		}else{
			$('.list_admin_permission').hide();
		}
	});
</script>
{[include file="_includes/fileupload.html"]}
{[include file="_includes/admin/footer.html"]}
