{[assign var="title" value="Contract List"]}
{[include file="_includes/admin/header.html"
	title		= $title
	css			= ','|explode:""
	js			= ','|explode:""
]}

<div id="main">
	<ol class="breadcrumbs">
		<li><a href="/admin/">Home</a></li>
		<li><em>{[$title]}</em></li>
	</ol>
	<!-- / .breadcrumbs -->

	<section class="section">
		<h1 class="headline"><span>{[$title]}</span></h1>
		<div class="boxInner">
			{[if $smarty.session.default.check_action.contract_edit eq 1]}
			<p class="linkList"><a href="/admin/contract_edit"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add New Contract</a></p>
			{[/if]}
			{[form class="searchBox"]}
			<table class="sheet">
				<tbody>

					<tr>
						<th>{[form_label name="keyword"]}</th>
						<td>{[input_html name="keyword" ]}</td>
					</tr>
					<tr>
						<td colspan="4" class="pa10">
							<button type="submit" class="button blue2 auto mb0">検索する</button>
						</td>
					</tr>
				</tbody>
			</table>
		{[/form]}
		<!-- / .searchBox -->
		</div>
	</section>
	<!-- / .section -->

	<section class="section">

	{[if $contract_p.rows]}
		{[$contract_p.pager.header|allow_html]}
		<table class="sheet tblList">
			<thead>
				<tr>
					<th class="th_small"><a href="/admin/contract_list?sort_by=id&{[$sorts.query]}"><span>Id</span></a>
					<th><a href="/admin/contract_list?sort_by=contract_number&{[$sorts.query]}"><span>Contract Number</span></a>
					<th><a href="/admin/contract_list?sort_by=user_create&{[$sorts.query]}"><span>Created by</span></a>
					<th><a href="/admin/contract_list?sort_by=user_name&{[$sorts.query]}"><span>Staff</span></a>
					<th><a href="/admin/contract_list?sort_by=name&{[$sorts.query]}"><span>Contract Name</span></a>
					<th><a href="/admin/contract_list?sort_by=category_name&{[$sorts.query]}"><span>Type</span></a>
					<th><a href="/admin/contract_list?sort_by=title&{[$sorts.query]}"><span>Title</span></a>
					<th><a href="/admin/contract_list?sort_by=signed_date&{[$sorts.query]}"><span>Status</span></a>
					<th><a href="/admin/contract_list?sort_by=signed_date&{[$sorts.query]}"><span>Signed Date</span></a>
					<th><a href="/admin/contract_list?sort_by=end_date&{[$sorts.query]}"><span>End Date</span></a>
					<th><span>Action</span></th>
				</tr>
			</thead>
			<tbody>
			{[foreach from=$contract_p.rows item=row key=key]}
				{[ if ($key % 2) eq 0 ]}
					{[assign var=class value='trWhite']}
				{[else]}
					{[assign var=class value='trGray']}
				{[/if]}
				<tr class="{[$class]}">
					<td class="text-center">{[$row.id]}</td>
					<td class="text-center">{[$row.contract_no]}</td>
					<td>{[$row.user_create]}</td>
					<td><a href="/admin/contract_list?staff_id={[$row.staff_id]}">{[$row.user_name]} ({[$row.nickname]})</a></td>
					<td>{[$row.name]}</td>
					<td>{[$row.category_name]}</td>
					<td>{[$row.title]}</td>
					<td>{[$row.status]}</td>
					<td>
						{[if $row.signed_date neq '0000-00-00']}
						    {[$row.signed_date|date_format:"%d/%m/%Y"]}
						{[/if]}
					</td>
					<td>
						{[if $row.end_date neq '0000-00-00']}
						    {[$row.end_date|date_format:"%d/%m/%Y"]}
						{[/if]}
					</td>
					<td class="operate">
						{[if $smarty.session.default.check_action.contract_edit eq 1]}
						<a href="/admin/contract_edit?id={[$row.id]}" class="block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a><br>
						{[/if]}
						{[if $smarty.session.default.check_action.delete eq 1]}
						<a href="#" class="block ajax_delete" data-id="{[$row.id]}" data-table="contract" data-force="force"><i class="fa fa-times" aria-hidden="true"></i>Delete</a><br>
						{[/if]}

						<a href="/admin/contract_view?id={[$row.id]}" class="block"><i class="fa fa-search" aria-hidden="true"></i>View</a>

					</td>
				</tr>
			{[/foreach]}
			</tbody>
		</table> <!-- / .sheet -->
		{[$contract_p.pager.html|allow_html]}
		<!-- / .pagination -->
	{[else]}
		<p class="alert">{[#RESULT_NOT_FOUND#]}</p>
	{[/if]}

	</section>
	{[include file="_includes/admin/copyright.html"]}
</div>

{[include file="_includes/admin/footer.html"]}
