{[if $defaults.contract.id]}
	{[assign var="title" value="Contract View"]}
{[/if]}
{[include file="_includes/admin/header.html"
	title		= $title
	class		= ""
	css			= ','|explode:""
	js			= ','|explode:"jquery.inlineStyler.min.js"
]}

<div id="main">
	<ol class="breadcrumbs">
		<li><a href="/admin/">Home</a></li>
		<li><a href="/admin/contract_list">Contract List</a></li>
		<li><em>{[$title]}</em></li>
	</ol>
	<!--  .breadcrumbs -->

	<section class="section" id="top">
		<h1 class="headline"><span>{[$title]}</span></h1>
		
		{[form class="frmEdit"]}
			
			{[form_error]}

			<table class="sheet mb20">
				<tbody>
					<tr>
						<th class="th_small">Name</th>
						<td>
							{[$contract.name]}
						</td>
					</tr>
					<tr>
						<th>Tempalte</th>
						<td>
							{[$category]}
						</td>
					</tr>
					<tr>
						<th>Content</th>
						<td class="td_body print">
							<div class="contract_wrap">
							{[$category_body|allow_html]}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div style="width:550px;" class="clearfix auto">
				<button type="button" class="rigthBox button blue2 auto mb0" name="btn_print" onClick="printQuestion('td_body')"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
				<button type="button" class="rigthBox button blue2 auto mb0"  onClick="exportDoc(event)"><i class="fa fa-file-word-o"></i> Export To Word</button>
			</div>
		{[/form]}

	</section>
<!-- / .section -->
{[include file="_includes/admin/copyright.html"]}

</div>
<!-- / #main -->
<style type="text/css">
	textarea{
		height: 500px;
	}
	.italic span{
		font-style: italic;
		font-weight: 85%;
	}
	staff-name{
		font-weight: bold !important;
		text-transform: uppercase;
	}
</style>

<script type="text/javascript">
	$("button[type='submit']").click(function(){
		var inputValues = {};
	    $('.td_body :input').each(function() {
	        var type = $(this).attr("type");
	        var name = $(this).attr("name");
	        if ((type == "checkbox" || type == "radio") && this.checked) {
	            inputValues[name]= $(this).val();
	        }
	        else if (type != "button" || type != "submit") {
	        	inputValues[name]= $(this).val();
	        }
	    });
	    $('.textarea_body').val(JSON.stringify(inputValues));
	});

	function printQuestion(PrintClass) {
		var temp = $('body').html();
		$('body').html('<div class="td_body">'+$('.'+PrintClass).html() +'</div>');
		$('.'+PrintClass).addClass("print");
        window.print();
	    $('body').html(temp);
    }

    $(document).ready(function(){
    	var selects = $('.print select');
    	$.each( selects, function( key, value ) {
    		if( $(this).val() ==''){
    			$(this).text('');
    		}
    	});
    });

</script>
<script>
	$(document).ready(function() {
		$('input[type="text"], select').each(function(){
			if($(this).attr('name') == 'staff-name'){
				$(this).replaceWith("<span>" + this.value + " </span>");
			}else{
				$(this).replaceWith("<span style='font-weight: normal !important; margin-left: 8px;'>" + this.value + " </span>");
			}
			
		});
	});
</script>


 <form name="proposal_form" action="/ajax/exportDoc" method="post"" style="display: none;" id="proposal_form">
 	<textarea name="html" id="html"></textarea>
 	<input name="contract_name" value="{[$contract.name]}"/>
  <input type="submit" name="submit_docs" value="Export as MS Word" class="input-button" />
</form>

<script type="text/javascript">
	function exportDoc(e){
		e.preventDefault();
		var strAlert  = 'Are you sure you want to export this contract to a doc file?';
		if(confirm(strAlert)){
			var temp = $('.td_body').html();
			$('.td_body').inlineStyler( cssRules);
			var html = $('.td_body').html();
			$('#html').val(html);
			$('#proposal_form').submit();
			$('.td_body').html(temp);
		}
	}
</script>


<script type="text/javascript">
	var cssRules = {
		'propertyGroups' : {
			"*": ["height", "margin", "padding", "width", "font-family", "font-style", "font-size", "font-weight", "letter-spacing", "line-height", "text-align", "text-decoration", "text-transform", "white-space", "word-spacing", "word-wrap", "vertical-align", "background", "background-image", "background-position", "background-repeat", "bottom", "clear", "display", "float", "list-style-type", "padding-left","padding-right","padding-top","padding-bottom", 'border'],
			'block' : ['margin', 'padding'],
			'inline' : ['color','display','padding-bottom','font-style','font-weight','text-transform'],
			'headings' : ['font-size', 'font-family','margin-bottom','text-align','font-weight']
		},
		'elementGroups' : {
			 "*": ["A", "B", "BASEFONT", "CENTER", "COL", "DD", "DIV", "DL", "DT", "EM", "I", "IMG", "LABEL", "LI", "LINK", "OL", "P","STRONG", "SUB","SUP", "TD", "TFOOT", "TH", "THEAD", "TT", "U", "UL"],
			'block' : ['DIV', 'P', "TR", "TABLE"], 
			'inline' : ['SPAN', 'STAFF-NAME'], 
			'headings' : ['H1', 'H2', 'H3', 'H4', 'H5', 'H6'],
		},
	}
</script>

{[include file="_includes/admin/footer.html"]}
