{[assign var="title" value="Page Title"]}
{[include file="_includes/admin_header.html"
	title	= $title
	id		= ""
	css		= ','|explode:""
	js		= ','|explode:""
]}

<div id="main">
	
	<ol class="breadcrumbs">
		<li><a href="/admin/">Home</a></li>
		<li><em>{[$title]}</em></li>
	</ol>

	<section class="section">
		<h1 class="headline"><span>{[$title]}</span></h1>
		
		<table class="sheet tblList">
			<thead>
				<tr>
					<th style="width:140px;"><span>Table Name</span></th>
					<th><span>Action</span></th>
				</tr>
			</thead>
			
			<tbody>
			{[foreach from=$listTables item=name]}
				<tr>
					<td>{[$name]}</td>
					<td>
						<a href="/admin/default?table={[$name]}&m=list" class="edit">List</a>
					</td>
				</tr>
			{[/foreach]}
			</tbody>
		</table>

	</section>

</div> <!-- end div#main -->

{[include file="_includes/admin_footer.html"]}
