{[assign var="title" value="Demo upload image"]}
{[include file="_includes/admin/header.html"
	title	= $title
	id		= ""
	css		= ','|explode:"fileupload/import.css"
	css_link = ','|explode:""
	js		= ','|explode:"tinymce/tinymce.min.js,fileupload/import.js"
	js_link = ','|explode:""
]}
<script>
tinyMCE.init({
    mode : "none",
    language : "ja",
    height: "200px",
    plugins: [
		"advlist autolink lists link image charmap print preview hr anchor pagebreak",
		"searchreplace wordcount visualblocks visualchars fullscreen",
		"insertdatetime media nonbreaking save table contextmenu directionality",
		"emoticons template paste textcolor colorpicker textpattern code"
	],
	toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
	toolbar2: "print preview media | forecolor backcolor emoticons | code",
	media_alt_source: false,
	media_poster: false,
	file_browser_callback: function(field_name, url, type, win) {
		if(type == 'image'){
			$('#'+field_name).data('title', 'mce_image').bindUploadFileMCE();
		}
		if(type == 'media'){
			$('#'+field_name).data('title', 'mce_video').bindUploadFileMCE();
		}
	},
});

function init_editor(id){
    tinyMCE.execCommand('mceAddEditor', true, id);
}

$(function() {
	$('textarea.mceEditor').each(function(index, el) {
		init_editor($(this).attr('id'));
	});
});

</script>
<div id="main">
	
	<ol class="breadcrumbs">
		<li><a href="/admin/">Home</a></li>
		<li><em>{[$title]}</em></li>
	</ol>

	<section class="section">
		<h1 class="headline"><span>{[$title]}</span></h1>
	{[form]}	
		<table class="sheet mb20">
			<tbody>
				<tr>
					<th>{[form_label name="demo[mce_01]"]}</th>
					<td>
						{[form_mce name="demo[mce_01]" class="mceEditor"]}
					</td>
				</tr>
				<tr>
					<th>{[form_label name="demo[file]"]}</th>
					<td>
						{[form_file name="demo[file]" upload_type=#UPLOAD_TYPE_FILE#]}
					</td>
				</tr>
				<tr>
					<th>{[form_label name="demo[image]"]}</th>
					<td>
						{[form_file name="demo[image]" upload_type=#UPLOAD_TYPE_IMAGE#]}
					</td>
				</tr>
				<tr>
					<th>{[form_label name="demo[video]"]}</th>
					<td>
						{[form_file name="demo[video]" upload_type=#UPLOAD_TYPE_VIDEO#]}
					</td>
				</tr>
				<tr>
					<th>{[form_label name="demo[crop]"]}</th>
					<td>
						{[form_file name="demo[crop]" upload_type=#UPLOAD_TYPE_CROP# text="Drop image here or click to crop."]}
					</td>
				</tr>
			</tbody>
		</table>
		
		{[include file="_includes/admin/form_edit_buttons.html"]}
	{[/form]}
	</section>

</div> <!-- end div#main -->

{[include file="_includes/fileupload.html"]}
{[include file="_includes/admin/footer.html"]}
