{[assign var="title" value="Admin"]}
{[include file="_includes/admin/header.html"
	title		= $title
	description	= ""
	keywords	= ""
	id			= ""
	css			= ','|explode:""
	js			= ','|explode:""
	js_link		= ','|explode:""
]}

<div id="main">
	<ol class="breadcrumbs">
		<li><a href="/admin/">Home</a></li>
	</ol>
	<!-- / .breadcrumbs -->
	
	<section class="section">
		<h1 class="headline"><span>Recent contracts</span></h1>
		<div class="message">
			<div id="columns">
				{[foreach from=$list_contract item=row key=key]}
				<div class="pin" data-id={[$row.id]}>
					<a class="contract_name" href="/admin/contract_view?id={[$row.id]}"><img  class="contract_user" src="{[$row.image|default:'/img/no-image.jpg' ]}" />
					{[$row.name]}</a>
					<p class="contract_description">
						<span class="text-green"><i class="fa fa-address-book"></i> <a href="/admin/contract_list?user_laborer={[$row.user_laborer]}">{[$row.laborer]}</a></span><br>
						<span class="text-green"><i class="fa fa-file"></i> <a href="/admin/category_list?id={[$row.category_id]}">{[$row.category_name]}</a></span><br>
						<span class="text-green"><i class="fa fa-calendar"></i> </span>Singed: {[$row.signed_date|date_format:"%d/%m/%Y"]}<br>
						<span class="text-green"><i class="fa fa-calendar"></i> </span>End: {[$row.end_date|date_format:"%d/%m/%Y"]}<br>
					</p>
					<p class="clear"></p>
					<div class="contract_info">
						{[if $row.create_image neq '']}
						<span class="text-red text-img">Created by: {[$row.create]}</span>
						{[else]}
						<span class="text-red text-img">Created by: {[$row.create]}</span>
						{[/if]}
					</div>
				</div>
				{[/foreach]}

			</div>
			<p id="loading" style="display: none;">
				<img src="/img/loading.gif" alt="Loading…" />
			</p>
		</div>
	</section>
	<!-- / .section -->
	{[include file="_includes/admin/copyright.html"]}
</div>
<!-- / #main -->


<script type="text/javascript">
    var isPreviousEventComplete = true, isDataAvailable = true;
    $(window).scroll(function () {
     if ($(document).height() - 50 <= $(window).scrollTop() + $(window).height()) {
      if (isPreviousEventComplete && isDataAvailable) {
       
        isPreviousEventComplete = false;
        $("#loading").css("display", "block");

        $.ajax({
			url: '/admin/',
			type: 'get',
			data:{
				id: $('.pin:last-child').attr('data-id')
			},
			dataType: 'json',
          success: function (data) {
          	var str = '';
			 $.each(data, function (index, row) {
			    str+= '<div class="pin" data-id='+row.id+'>';
			    if(row.image){
			    	str += '<img  class="contract_user" src="'+row.image+'" />';
			    }else{
			    	str += '<img  class="contract_user" src="/img/no-image.jpg" />';
			    }
			   str += '<a class="contract_name" href="/admin/contract_view?id='+row.id+'">'+row.name+'</a>';
			    str += '<p class="contract_description">';
			    str += '    <span class="text-green"><i class="fa fa-address-book"></i> <a href="/admin/contract_list?staff_id='+row.staff_id+'">'+row.laborer+'</a></span><br>';
			    str += '    <span class="text-green"><i class="fa fa-file"></i> <a href="/admin/category_list?id='+row.category_id+'">'+row.category_name+'</a></span><br>';
			    str += '    <span class="text-green"><i class="fa fa-calendar"></i> </span>Singed: '+row.signed_date+'<br>';
			    str += '    <span class="text-green"><i class="fa fa-calendar"></i> </span>End: '+row.end_date+'<br>';
			    str+='</p>';
			    str += '<p class="clear"></p>';
			    str += '<div class="contract_info">';
			    str += '   <span class="text-red text-img">Created by: '+row.create+'</span>';
			    str += '</div>';
				str += '</div>';
			    });

            $("#columns").append(str);
            isPreviousEventComplete = true;

            if (data == '') //When data is not available
                isDataAvailable = false;

            $("#loading").css("display", "none");
          },
          error: function (error) {
          }
        });

      }
     }
    });
</script>
{[include file="_includes/admin/footer.html"]}
