{[assign var="title" value="Admin Home page"]}
{[include file="_includes/admin/header.html"
	title		= $title
	description	= ""
	keywords	= ""
	id			= ""
	css			= ','|explode:""
	js			= ','|explode:"ajaxzip3.js"
	js_link		= ','|explode:"//maps.google.com/maps/api/js?sensor=false"
]}

<script type="text/javascript">
$(document).ready(function() {
	$('.tblList').selectCheckbox();
});
</script>

<div id="main">
	<ol class="breadcrumbs">
		<li><a href="/admin/">Admin Home page</a></li>
		<li><a href="#">Content</a></li>
		<li><em>Page Name</em></li>
	</ol>
	<!-- / .breadcrumbs -->
	
	
	<section class="section">
		<h1 class="headline"><span>CB-STANDARD for Admin</span></h1>
		<div class="message">
			<p>HTML5<strong class="red"></strong>
			fghfgh</p>
		</div>
	</section>
	<!-- / .section -->
	
	
	<section class="section">
		<h1 class="headline"><span>Search form</span></h1>
		<p class="linkList"><a href="#">Add a new article</a></p>
		{[form class="searchBox pv10"]}
			<table class="sheet">
				<tbody>
					<tr>
						<th>{[form_label name="radio"]}</th>
						<td colspan="3" class="pa10">
							{[form_input name="radio"]}
						</td>
					</tr>
					<tr>
						<th>{[form_label name="checkbox_one"]}</th>
						<td>
							{[form_input name="checkbox_one"]}
						</td>
						<th>{[form_label name="checkbox"]}</th>
						<td>
							{[form_input name="checkbox"]}
						</td>
					</tr>
					<tr>
						<th>{[form_label name="pref"]}</th>
						<td>
							{[form_input name="pref"]}
						</td>
						<th>{[form_label name="date"]}</th>
						<td>
							{[form_input name="date"]}
						</td>
					</tr>
					<tr>
						<th>keyword</th>
						<td colspan="3">
							{[form_input name="keyword"]}
						</td>
					</tr>
					<tr>
						<td colspan="4">{[include file="_includes/admin/form_search_buttons.html"]}</td>
					</tr>
				</tbody>
			</table>
			
		{[/form]}
		<!-- / .searchBox -->
	</section>
	<!-- / .section -->

	<section class="section">
		<h1 class="headline"><span>One show that</span></h1>
		
		<dl class="searchUtil">
			<dt><strong>4</strong>Matter in</dt>
			<dd>1 - 4 views</dd>
		</dl>
		{[*$data_p.pager.header|allow_html*]}

		<table class="sheet tblList">
			<thead>
				<tr>
					<th style="width:30px;">
						<input type="checkbox" class="chkAll">
					</th> 
					<th style="width:80px;"><span>掲載状態</span></th>
					<th style="width:350px;"><span>タイトル</span></th>
					<th style="width:80px;"><span>作成日時</span></th>
					<th><span>操作</span></th>
				</tr>
			</thead>
			
			<tbody>
			{[foreach from=$data_p.rows key=key item=item]}
				<tr class="trWhite">
					<td>
						<input type="checkbox" value="{[$item.id]}" class="chkOne" {[if in_array($item.id, $choice_list)]} checked="checked" {[/if]}>
					</td>
					<td class="status">
						<!-- <span class="public">掲載中</span>
						<span class="unsupported">未対応</span>
						<span class="check">確認中</span>
						<span class="rough">下書き</span> -->
						<span class="{[$item.status]}">{[get_flag key="status" value=$item.status]}</span>
					</td>
					<td class="title">
						<h2 class="edit">株式会社サイブリッジ運営事務局</h2>
						<p class="latestTime">最終更新：2013/01/15 更新者：ひらりん</p>
					</td>
					<td class="date">2013/01/06 22:00</td>
					<td class="operate">
						<table>
							<tr>
								<td class="pa5 ba0">
									<a href="#" class="preview block">View</a>
									<a href="#" class="users block">ユーザー</a>
									<a href="#" class="edit block">Edit</a>
								</td>
								<td class="pa5 ba0">
									<a href="#" class="edit block">複製する</a>
									<a href="#" class="edit block">アクセス解析</a>
									<a href="#" class="delete confirm block" data-alert="本当に削除してもよろしいですか？">Delete</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			{[/foreach]}
			</tbody>
		</table>
		<!-- / .sheet -->
		
		<ol class="pager">
				<li><a href="#">前の10件</a></li>
				<li><strong>1</strong></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
				<li><a href="#">次の10件</a></li>
		</ol>
		{[*$data_p.pager.html|allow_html*]}
		<!-- / .pager -->
		
		<p class="alert">{[#RESULT_NOT_FOUND#]}</p>
	</section>
	<!-- / .section -->
	
	
	<section class="section">
		<h1 class="headline"><span>フォームのリアルタイムバリデート formValidator</span></h1>
		
		<!-- <ul class="error">
			<li>メールアドレスが記入されていません</li>
			<li>氏名が入力されていません</li>
		</ul> -->
		{[form_error]}
		<!-- <form action="#" method="post"> -->
		{[form]}
			<table class="sheet mb20">
				<tbody>
					<tr class="titleTxt">
						<th>メールアドレス<span class="red">[必須]</span></th>
						<td>
							<p class="notice">半角英数字とハイフン、アンダーバーのみで入力してください。</p>
							<input name="userEmail" id="userEmail" type="text" class="s200">
							<p class="example">keiko.hirayama@cybridge.jp</p>
						</td>
					</tr>
					<tr class="titleTxt">
						<th>配信日<span class="red">[必須]</span></th>
						<td>
							<input name="userMagDate" id="userMagDate" type="text" value="2013-01-21" class="datepicker s100">
						</td>
					</tr>
					<tr class="titleTxt">
						<th>Autocomplete ZIP</th>
						<td>
							<ul class="blockList">
								<li>{[form_input name="table_name[zip]" onKeyUp="AjaxZip3.zip2addr(this, '', 'table_name[pref]', 'table_name[address1]');" class="s100"]} ZIP</li>
								<li>{[form_input name="table_name[pref]"]}</li>
								<li>{[form_input name="table_name[address1]" class="s200"]}</li>
								<li>{[form_input name="table_name[address2]" class="s200"]}</li>
							</ul>
						</td>
					</tr>
					<tr class="titleTxt">
						<th>Google Maps</th>
						<td>
							<input type="button" class="input inline mr10" value="住所から入力" id="showGmap">
							<label>緯度</label><input name="mapLat" type="text" style="width:150px;" id="mapLat">
							<label>経度</label><input name="mapLng" type="text" style="width:150px;" id="mapLng">
							<div id="map" style="width:90%;height:300px;margin-top:10px;"></div>
						</td>
					</tr>
					<tr class="titleTxt">
						<th>{[form_label name="table_name[tel]"]}</th>
						<td>
							{[form_error name="table_name[tel]"]}
							{[form_input name="table_name[tel]" class="s100"]}
						</td>
					</tr>
					<tr class="titleTxt">
						<th>{[form_label name="table_name[doc_file]"]}</th>
						<td>
							{[form_error name="table_name[doc_file]"]}
							{[form_input name="table_name[doc_file]" file_name="doc_file" file_dir="/upload/doc"]}
						</td>
					</tr>
					<tr class="titleTxt">
						<th>{[form_label name="table_name[image_file]"]}</th>
						<td>
							{[form_error name="table_name[image_file]"]}
							{[form_input name="table_name[image_file]" file_name="image_file" file_dir="/upload/image" width="300"]}
						</td>
					</tr>
				</tbody>
			</table>
			
			{[include file="_includes/admin/form_edit_buttons.html"]}

		<!-- </form> -->
		{[/form]}
	</section>
	<!-- / .section -->
</div>
<!-- / #main -->
			
{[include file="_includes/admin/footer.html"]}
