{[assign var="title" value="Staff List"]}
{[include file="_includes/admin/header.html"
	title		= $title
	css			= ','|explode:""
	js			= ','|explode:""
]}

<div id="main">
	<ol class="breadcrumbs">
		<li><a href="/admin/">Home</a></li>
		<li><em>{[$title]}</em></li>
	</ol>
	<!-- / .breadcrumbs -->

	<section class="section">
		<h1 class="headline"><span>Search Staff</span></h1>
		<div class="boxInner">
			{[if $smarty.session.default.check_action.staff_edit eq 1]}
			<p class="linkList"><a href="/admin/staff_edit"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add New Staff</a></p>
			{[/if]}
			{[form class="searchBox"]}
			<table class="sheet">
				<tbody>

					<tr>
						<th>{[form_label name="keyword"]}</th>
						<td>{[input_html name="keyword" ]}</td>
					</tr>
					<tr>
						<td colspan="4" class="pa10">
							<button type="submit" class="button blue2 auto mb0">検索する</button>
						</td>
					</tr>
				</tbody>
			</table>
		{[/form]}
		<!-- / .searchBox -->
		</div>
	</section>
	<!-- / .section -->

	<section class="section">

	{[if $staff_p.rows]}
		{[$staff_p.pager.header|allow_html]}
		<table class="sheet tblList">
			<thead>
				<tr>
					<th class="th_small"><a href="/admin/staff_list?sort_by=id&{[$sorts.query]}"><span>ID</span></a>
					<th><a href="/admin/staff_list?sort_by=fullname&{[$sorts.query]}"><span>Full Name</span></a>
					<th><a href="/admin/staff_list?sort_by=nickname&{[$sorts.query]}"><span>Nick Name</span></a>
					<th><a href="/admin/staff_list?sort_by=position&{[$sorts.query]}"><span>Position</span></a>
					<th><a href="/admin/staff_list?sort_by=start_work_date&{[$sorts.query]}"><span>Start work date</span></a>
					<th><span>Action</span></th>
				</tr>
			</thead>
			<tbody>
			{[foreach from=$staff_p.rows item=row key=key]}
				{[ if ($key % 2) eq 0 ]}
					{[assign var=class value='trWhite']}
				{[else]}
					{[assign var=class value='trGray']}
				{[/if]}
				<tr class="{[$class]}">
					<td class="text-center">{[$row.id]}</td>
					<td><a href="/admin/contract_list?staff_id={[$row.id]}">{[$row.fullname]}</a></td>
					<td>{[$row.nickname]}</td>
					<td>{[$positions[$row.position]]}</td>
					<td>{[$row.start_work_date]}</td>
					<td class="operate">
						{[if $smarty.session.default.check_action.staff_edit eq 1]}
						<a href="/admin/staff_edit?id={[$row.id]}" class="block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
						{[/if]}
						{[if $smarty.session.default.check_action.delete eq 1]}
						<a href="#" class="ajax_delete block" data-id="{[$row.id]}" data-table="staff" data-force="force"><i class="fa fa-times" aria-hidden="true"></i>Delete</a>
						{[/if]}
						<a href="/admin/contract_list?staff_id={[$row.id]}" class="block"><i class="fa fa-search" aria-hidden="true"></i>Show Contract</a>

					</td>
				</tr>
			{[/foreach]}
			</tbody>
		</table> <!-- / .sheet -->
		{[$staff_p.pager.html|allow_html]}
		<!-- / .pagination -->
	{[else]}
		<p class="alert">{[#RESULT_NOT_FOUND#]}</p>
	{[/if]}

	</section>
	{[include file="_includes/admin/copyright.html"]}
</div>

{[include file="_includes/admin/footer.html"]}
