{[if $defaults.user.user_id]}
	{[assign var="title" value="Staff Edit"]}
{[else]}
	{[assign var="title" value="Staff Add"]}
{[/if]}
{[include file="_includes/admin/header.html"
	title	= $title
	id		= ""
	css		= ','|explode:"fileupload/import.css"
	css_link = ','|explode:""
	js		= ','|explode:"fileupload/import.js"
	js_link = ','|explode:""
]}

<script>
	$(document).ready(function() {
		$('.frmEdit').colorErrorInputs();
	});
</script>

<div id="main">
	<ol class="breadcrumbs">
		<li><a href="/admin/">Home</a></li>
		<li><a href="/admin/user_list">Staff List</a></li>
		<li><em>{[$title]}</em></li>
	</ol>
	<!--  .breadcrumbs -->

	<section class="section" id="top">
		<h1 class="headline"><span>{[$title]}</span></h1>
		
		{[form class="frmEdit"]}
			
			{[form_error]}

			<table class="sheet mb20">
				<tbody>
					<tr>
						<th>{[form_label name="staff[fullname]"]}</th>
						<td>
							{[input_html name="staff[fullname]"]}
						</td>
					</tr>
					<tr>
						<th>{[form_label name="staff[nickname]"]}</th>
						<td>
							{[input_html name="staff[nickname]"]}
						</td>
					</tr>
					
					<tr>
						<th>{[form_label name="staff[image]"]}</th>
						<td>
							{[form_file name="staff[image]" upload_type=#UPLOAD_TYPE_CROP# text="Drop image here or click to crop."]}
						</td>
					</tr>
					<tr>
						<th>{[form_label name="staff[position]"]}</th>
						<td>
							{[input_html name="staff[position]" ]}
						</td>
					</tr>
					<tr>
						<th>{[form_label name="staff[start_work_date]"]}</th>
						<td>
							{[input_html name="staff[start_work_date]" class="datepicker"]}
						</td>
					</tr>

				</tbody>
			</table>
			{[include file="_includes/admin/form_edit_buttons.html"]}
		{[/form]}

	</section>
<!-- / .section -->
</div>
<!-- / #main -->
<style type="text/css">
	.list_user_permission{
		display: none;
	}
</style>

{[include file="_includes/fileupload.html"]}
{[include file="_includes/admin/footer.html"]}
