{[assign var="title" value="Tempalte List"]}
{[include file="_includes/admin/header.html"
	title		= $title
	css			= ','|explode:""
	js			= ','|explode:""
]}

<div id="main">
	<ol class="breadcrumbs">
		<li><a href="/admin/">Home</a></li>
		<li><em>{[$title]}</em></li>
	</ol>
	<!-- / .breadcrumbs -->

	<section class="section">
		<h1 class="headline"><span>{[$title]}</span></h1>
		<div class="boxInner">
			{[if $smarty.session.default.check_action.category_edit eq 1]}
			<p class="linkList"><a href="/admin/template_edit"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add New Template</a></p>
			{[/if]}
			{[form class="searchBox"]}
			<table class="sheet">
				<tbody>

					<tr>
						<th>{[form_label name="name"]}</th>
						<td>{[input_html name="name" ]}</td>
					</tr>
					<tr>
						<td colspan="4" class="pa10">
							<button type="submit" class="button blue2 auto mb0">検索する</button>
						</td>
					</tr>
				</tbody>
			</table>
		{[/form]}
		<!-- / .searchBox -->
		</div>
	</section>
	<!-- / .section -->




	<section class="section">

	{[if $category_p.rows]}
		{[$category_p.pager.header|allow_html]}
		<table class="sheet tblList">
			<thead>
				<tr>
					<th class="th_small"><a href="/admin/template_list?sort_by=id&{[$sorts.query]}"><span>ID</span></a>
					<th><a href="/admin/template_list?sort_by=name&{[$sorts.query]}"><span>Name</span></a>
					<th><span>Action</span></th>
				</tr>
			</thead>
			<tbody>
			{[foreach from=$category_p.rows item=row key=key]}
				{[ if ($key % 2) eq 0 ]}
					{[assign var=class value='trWhite']}
				{[else]}
					{[assign var=class value='trGray']}
				{[/if]}
				<tr class="{[$class]}">
					<td class="text-center">{[$row.id]}</td>
					<td><a href="/admin/contract_list?category_id={[$row.id]}" class="text_link" title="Show all contract in template">{[$row.name]}</a></td>
					<td class="operate">
						{[if $smarty.session.default.check_action.category_edit eq 1]}
						<a href="/admin/template_edit?id={[$row.id]}" class="block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
						{[/if]}
						{[if $smarty.session.default.check_action.delete eq 1]}
						<a href="#" class=" block ajax_delete" data-alert="本当に削除してもよろしいですか？" data-id="{[$row.id]}" data-table="category" data-force="force"><i class="fa fa-times" aria-hidden="true"></i>Delete</a>
						{[/if]}
						<a href="/admin/template_view?id={[$row.id]}" class="block"><i class="fa fa-search" aria-hidden="true"></i>View</a>
					</td>
				</tr>
			{[/foreach]}
			</tbody>
		</table> <!-- / .sheet -->
		{[$category_p.pager.html|allow_html]}
		<!-- / .pagination -->
	{[else]}
		<p class="alert">{[#RESULT_NOT_FOUND#]}</p>
	{[/if]}

	</section>
	{[include file="_includes/admin/copyright.html"]}
</div>

{[include file="_includes/admin/footer.html"]}
