{[if $defaults.category.category_id]}
	{[assign var="title" value="Category Edit"]}
{[else]}
	{[assign var="title" value="Category Add"]}
{[/if]}
{[include file="_includes/admin/header.html"
	title		= $title
	class		= ""
	css			= ','|explode:""
	js			= ','|explode:""
]}

<script>
	$(document).ready(function() {
		$('.frmEdit').colorErrorInputs();
	});
</script>

<div id="main">
	<ol class="breadcrumbs">
		<li><a href="/admin/">Home</a></li>
		<li><a href="/admin/category_list">category List</a></li>
		<li><em>{[$title]}</em></li>
	</ol>
	<!--  .breadcrumbs -->

	<section class="section" id="top">
		<h1 class="headline"><span>{[$title]}</span></h1>
			<table class="sheet mb20">
				<tbody>
					<tr>
						<th class="w130px">Name</th>
						<td>
							{[ $category.name ]}
						</td>
					</tr>
					<tr>
						<th>Body</th>
						<td class="td_body" style="padding-left: 70px;">
							<div class="contract_wrap">
								{[ $category.body|allow_html ]}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		
	</section>
<!-- / .section -->
{[include file="_includes/admin/copyright.html"]}
</div>
<!-- / #main -->

{[include file="_includes/admin/footer.html"]}
