{[if $defaults.category.id]}
	{[assign var="title" value="Tempalte Edit"]}
{[else]}
	{[assign var="title" value="Tempalte Add"]}
{[/if]}
{[include file="_includes/admin/header.html"
	title		= $title
	class		= ""
	css			= ','|explode:""
	js			= ','|explode:""
]}

<script>
	$(document).ready(function() {
		$('.frmEdit').colorErrorInputs();
	});
</script>

<div id="main">
	<ol class="breadcrumbs">
		<li><a href="/admin/">Home</a></li>
		<li><a href="/admin/category_list">Tempalte List</a></li>
		<li><em>{[$title]}</em></li>
	</ol>
	<!--  .breadcrumbs -->

	<section class="section" id="top">
		<h1 class="headline"><span>{[$title]}</span></h1>
		
		{[form class="frmEdit"]}
			
			{[form_error]}

			<table class="sheet mb20">
				<tbody>
					
					<tr>
						<th class="w150px">{[form_label name="category[name]"]}</th>
						<td>
							{[input_html name="category[name]"]}
						</td>
					</tr>
					<tr>
						<th>{[form_label name="category[body]"]}</th>
						<td class="td_body">
							{[input_html name="category[body]"]}
						</td>
					</tr>
				</tbody>
			</table>
			{[include file="_includes/admin/form_edit_buttons.html"]}
		{[/form]}

	</section>

<!-- / .section -->
{[include file="_includes/admin/copyright.html"]}
</div>
<!-- / #main -->

<style type="text/css">
	textarea{
		height: 500px;
	}
</style>
{[include file="_includes/admin/footer.html"]}
