{[include file="_includes/admin/header.html"
	title		= ""
	class		= ""
	css			= ','|explode:""
	js			= ','|explode:""
]}

<style>
		* {font-family: Arial, sans-serif; color:red;}
		h1 {font-size:16px;margin:25px 0;line-height:1.2;}
		p {margin: 15px 0;line-height:1.8;}
	</style>
	<div id="yourSelector">
		<h1>Lorem ipsum dolor sit amet</h1>
	<p>Cupiditate ab ea perspiciatis repellendus eligendi ad sed saepe modi!</p>
	</div>
	

<script src="/js/jquery.inlineStyler.min.js"></script>
<script type="text/javascript">
	$(window).load(function() {
		$("#yourSelector").inlineStyler( );
	});
</script>
{[include file="_includes/admin/footer.html"]}
