.cr-popup {position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: none;}
.cr-popup .cr-bg {width: 100%;height: 100%;position: absolute;background-color: rgba(0, 0, 0, 0.4);cursor: pointer;}
.cr-popup .cr-content {position: relative;left: 50%;top: 20%;width: 270px;margin-left: -120px;background-color: #fff;padding: 10px;}

.frm_insertjobtype {display: table;margin-bottom: 10px;}
.frm_insertjobtype span,
.frm_insertjobtype input,
.frm_insertjobtype div
 {display: table-cell;}
 #modalInsertHyberlink form input#linkHyberlink{margin-left: 7px;}